[2016-07-29 13:10] vervsdvgwegfeg opened #2 "Need simple tutorial?"
Can you make a simple tutorial on how to make this alarm work?

[2016-07-29 13:25] kvangent commented on #2
@vervsdvgwegfeg It's coming later today. It still in development at this point.

[2016-07-29 13:26] vervsdvgwegfeg commented on #2
Take your time! :+1:

[2016-07-29 15:08] vervsdvgwegfeg opened #3 "Fix for pokemons not being pushed and request"
When I ran webhook it found a lot of pokemons but none were pushed to Pushbullet. Then I saw this: "2016-07-29 16:41:56,415 [ alarm_manager] [   INFO] Electabuzz notification was not triggered because time_left had passed."

In alarms\alarm_manager.py line 55 I changed
from this:      elif dissapear_time < datetime.utcnow() :
to this:           elif dissapear_time > datetime.utcnow() :
because dis

[2016-07-29 15:28] kvangent commented on #3
If dissapear_time is smaller, that means that that time has already passed. So the code should have been correct the way it was.

There are 15, 30 and 45 minute spawn times from my understanding.

There might be an issue with timezones causing issues with this. Can you send me some of the time you have been getting?

[2016-07-29 15:44] vervsdvgwegfeg commented on #3
Sure. I am UTC +1:00
And here is my pushbullet chat:
![untitled](https://cloud.githubusercontent.com/assets/20638796/17254130/c4350e84-55b3-11e6-86e7-5a79deeb58a9.jpg)
Before the change (< into >) it didn't push notifications and now it does. I asked for help of 45min timers because I thought it was a phantom spawn just because it didn't show on the localhost:5000 MAP that pokemon so I thought it

[2016-07-29 16:03] RicardoGA opened #4 "Change utc time to local"
hi to ask if it's possible to change the disappear time from  utc to local time in the message "available until" ?? (im using slack)

[2016-07-29 17:23] kvangent commented on #2
@vervsdvgwegfeg Readme is now up.

[2016-07-29 17:23] #2 closed

[2016-07-29 18:19] molecularswords opened #5 "[Enhancement] Add distance to pokemon from a specified location"
It would be nice to have the notification tell you how far away the pokemon is. This would prevent the need to click the notification to open the map for certain pokemon that happen to be a bit too far away to go get in the moment but still show up in a scan. For example, this would help if I only care about pokemon that are essentially right next to me for now but I don't want to change my scanni

[2016-07-29 18:40] kvangent commented on #4
For people having issues with time, the problem is that the PokemonGo-Map is sending a local object instead of a UTC one. I've submitted a [pull request](https://github.com/AHAAAAAAA/PokemonGo-Map/pull/2633), so hopefully they fix it soon.

If you want to fix it yourself, you just need to change two lines. Find the PokemonGo-Map/pgom/models.py and change the following lines:

Add `import calendar`

[2016-07-29 18:40] #4 closed

[2016-07-29 18:41] kvangent commented on #3
@vervsdvgwegfeg Please let me know if this fixes your issue.

For people having issues with time, the problem is that the PokemonGo-Map is sending a local object instead of a UTC one. I've submitted a [pull request](https://github.com/AHAAAAAAA/PokemonGo-Map/pull/2633), so hopefully they fix it soon.

If you want to fix it yourself, you just need to change two lines. Find the PokemonGo-Map/pgom/mo

[2016-07-29 20:10] #3 closed

[2016-07-29 20:57] wowfood opened #6 "Connection terminated"
After running the alarm for a short while I get the following error message.

2016-07-29 21:48:09,318 [connectionpool] [  DEBUG] "POST /v2/pushes HTTP/1.1" 200 None
Traceback (most recent call last):
  File "C:\Users\AidenEades\Documents\PokeAlarm\runwebhook.py", line 45, in <module>
    app.run(debug=config['DEBUG'],host=config['HOST'], port=config['PORT'])
  File "C:\Python27\lib\site-packages\f

[2016-07-30 00:52] wowfood commented on #6
Disabled firewall, had the same thing happen again shortly after sending a pushbullet notification.

Additionally this time I spotted this bit just above the error, repeated and had it appear again also so think they might be related.

c:\Python27\lib\site-packages\requests\packages\urllib3\util\ssl_.py:122: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3

[2016-07-30 00:56] shme14 commented on #6
Ya I had it happen too:
`
C:\Users\Jamie\Documents\GitHub\PokeAlarm>python runwebhook.py
2016-07-29 17:23:32,421 [connectionpool] [   INFO] Starting new HTTPS connection (1): api.pushbullet.com
2016-07-29 17:23:33,494 [pushbullet_alarm] [   INFO] Pushbullet Alarm intialized
2016-07-29 17:23:33,740 [ alarm_manager] [   INFO] Alarm not activated: slack because value not set to "True"
2016-07-29 17:2

[2016-07-30 00:58] kvangent commented on #6
The first error is because the socket is closing while the server trys to respond. I only have my phone right now, but if you checkout the reddit thread I posted a temporary fix for it.

[2016-07-30 03:25] blaulan commented on #5
I had a similar implementation in [blaulan/PokemonGo-Slack](https://github.com/blaulan/PokemonGo-Slack), which will have different groups of pokemons and each group can have a different notification radius.

[2016-07-30 06:16] dmtdabs opened #8 "Broken Pipe (Errno 32)"
After running the alarm for a bit , and after receiving about 3 notification for pokemon, the following error message is displayed.

2016-07-29 23:09:12,703 [ alarm_manager] [   INFO] Horsea notication was triggered!
2016-07-29 23:09:12,731 [connectionpool] [   INFO] Resetting dropped connection: api.pushbullet.com
2016-07-29 23:09:13,864 [connectionpool] [  DEBUG] "POST /v2/pushes HTTP/1.1" 200 N

[2016-07-30 06:26] Dagothur commented on #8
Hi,

I got the same:

Traceback (most recent call last):
  File "runwebhook.py", line 45, in <module>
    app.run(debug=config['DEBUG'],host=config['HOST'], port=config['PORT'])
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 843, in run
    run_simple(host, port, self, **options)
  File "/usr/local/lib/python2.7/dist-packages/werkzeug/serving.py", line 694, in run_simple
    in

[2016-07-30 15:52] Dagothur commented on #8
I'm using this wrapper.sh script to help keep the alerts going:

   n=0
   until [ $n -ge 15 ]
   do
      python runwebhook.py && break  # substitute your command here
      n=$[$n+1]
      sleep 5
   done

I'm hoping that when the broke pipe error strikes this thing will just restart the script (it did so when I manually killed the process).

[2016-07-30 17:18] wowfood commented on #6
Posting the reddit fix here so it's easier to find for others.

Go to /pgom/utils.py and look for the following line towards the end of the file.

requests.post(w, json=data, timeout=(None, 1))

Change the 1 to a 5 and that should fix it, if it doesn't keep upping the number (up to 10) until the problem stops.

[2016-07-30 18:18] dmtdabs commented on #8
How do i implement your fix by using the wrapper.sh script? Could you make a pull request for it? @Dagothur

[2016-07-30 18:19] Dagothur commented on #8
I can try, I've never done it before.

By the way it's more of a hack than a fix -- simply restarting the script if it errors.

[2016-07-30 18:26] Dagothur commented on #8
Okay. Here: https://github.com/kvangent/PokeAlarm/pull/10 it is if you want it. I also forgot to consider that this is only going to work on linux, so if you're on Windows you'd have to rewrite it in bash.

If you're on linux, instead of starting the script itself you should do the following:

chmod +x wrapper.sh
./wrapper.sh

[2016-07-30 18:33] dmtdabs commented on #8
Thanks for that, i really appreciate it.

I'm actually on mac OS X , is there anything else id need to do before i can run this?

[2016-07-30 18:38] Dagothur commented on #8
Maybe just make sure that the listener is stopped before starting it with the shell script.

[2016-07-30 21:20] kvangent commented on #8
Sorry for the late response on this, it is actually a problem from the Map's side. The map sends the POST request with too short of a disconnect time, so when my app try to respond it finds the connection already closed. I have submitted a pull request to the main map already to correct the problem (and the time problem) but they are dragging their feet to accept it.

[2016-07-30 21:22] #8 closed

[2016-07-30 21:40] kvangent commented on #6
@wowfood Sorry for the late response to this. I've updated the Readme to include the fix.

[2016-07-30 21:48] #6 closed

[2016-07-31 09:39] ro4sho opened #12 "[Enhancement] Boxcar notifications"
You could take a look at Boxcar notifications.

https://boxcar.io/client

[2016-07-31 17:13] Blamroc opened #13 "Telegram issues"
As mentioned in the reddit thread, this needs to be added to alarms.json to get Telegram to work:

[code]
For fellow newbies reading this: I used this tutorial to start my Telegram bot and get the token and chat_id: http://www.domoticz.com/wiki/Telegram_Bot

[2016-07-31 20:52] kvangent commented on #13
Thank you for this, I've got it updated now.

[2016-07-31 20:52] #13 closed

[2016-08-01 01:53] brandonshults commented on #6
Thank you for your work on this project.  I know you have posted a solution, but I'm wondering how hard it would be to bulletproof PokeAlarm so that if the timeout does occur, the whole thing doesn't crash?  Or does the webhook server stop broadcasting?

[2016-08-01 01:58] kvangent commented on #6
It is apparently a pain in the ass - I'm brand new to Flask and Python, but it is an error that occurs outside of the framework. In a deployment environment the stack would just ignore it and keep running, but in a development environment it seems to bring everything to a standstill. I'm looking into alternatives but haven't had much luck so far.

[2016-08-01 02:06] brandonshults commented on #6
Awesome, thank you, I haven't written Python since I wrote a chess AI nearly a decade ago but when I get some time if I can create a reliable repro I will gladly look at it too.

[2016-08-01 02:41] newshaggy opened #14 "Push Bullet Issue?"
Get this error after getting a notification

2016-07-31 21:32:38,085 [ alarm_manager] [   INFO] Gyarados notication was triggered!
2016-07-31 21:32:39,311 [connectionpool] [   INFO] Resetting dropped connection: api.pushbullet.com
2016-07-31 21:32:41,383 [connectionpool] [  DEBUG] "POST /v2/pushes HTTP/1.1" 200 None
Traceback (most recent call last):
  File "runwebhook.py", line 45, in <module>
	a

[2016-08-01 02:47] newshaggy commented on #14
sorry I see this is mentioned in the read me will experiment and close this for now

[2016-08-01 02:47] #14 closed

[2016-08-01 12:21] Plop opened #15 "[Enhancement] Pushing to channels."
Hi,

Could it be possible to push to a channel, instead of my devices ?

I tried to add this to alarms/pushbullet_alarm.py :

[code]

But it seems that, even if I receive the first push (Hello World) in the channel, nothing else is working anymore. Nothing is displayed in my console when running PokemonGo-Map, like
`				log.info(name + " notification was not triggered because time_left had passed.

[2016-08-01 12:52] hhu94 commented on #15
You need to make `my_channel` part of the object my changing `my_channel = self.client.channels[0]` to `self.channel = self.client.channels[0]`.

Then instead of `push = my_channel.push_link(notification_text, gmaps_link, body=time_text)`, do `push = self.channel.push_link(notification_text, gmaps_link, body=time_text)`

[2016-08-01 15:16] mrlindstrom opened #18 "[Enhancement] Prowl notifications"
https://www.prowlapp.com/api.php

[2016-08-01 15:44] moggd opened #19 "Webhook window closes intermittently"
Hello,

I'm having an issue in which my webhook python window will randomly close after some time.  Sometimes it will close after 5 minutes of running, other times it will close after 8 hours of running.  I'm using the latest time fix posted by kvangent.  Because of this issue, I have to constantly check to see if my webhook server is running and restart it- I'm missing out on some notifications.

[2016-08-01 15:45] kvangent commented on #15
@Plop It's definitely doable to add channels in, and I had plans to make it a permanent feature. However since Pushbullet is changing their api to paid only (and I'm too cheap to buy premium), I won't be able to continue to test and support it.

[2016-08-01 15:45] #15 closed

[2016-08-01 15:59] kvangent commented on #19
Are you getting any errors or anything? If you are using Windows add a `pause` to the end of the .bat file. If you are using bash on linux you can add `read -n1 -r -p "Press any key to continue..." key`.  This will prevent the window from closing and allow you to see the error.

[2016-08-01 16:12] moggd commented on #19
No, the window just closes.  I've added pause to my bat file and will see if any errors pop up the next time it closes

[2016-08-01 17:23] Plop opened #20 "No module named gevent"
hi,

Having this error :

[code]

Did pip install -r requirements.txt, everything is fine.
What's wrong ?

Thanks.

[2016-08-01 17:26] kvangent commented on #20
Do `pip install gevent` I accidentally left it out in the main branch. It'll be fixed shortly.

[2016-08-01 17:37] kvangent commented on #20
Doing a fresh pull should fix the issue.

[2016-08-01 17:37] #20 closed

[2016-08-01 17:40] kvangent commented on #19
@moggd Please let me know what you find. I pushed a new version which should take care of the socket errors.

[2016-08-01 21:11] kvangent commented on #19
@moggd I've (hopefully) fixed the issue concerning socket errors. If you are still having issues with it after a new pull please open a new issue.

[2016-08-01 21:11] #19 closed

[2016-08-02 01:12] kvangent opened #21 "Nidoran's crash Slacker Alarm"
`2016-08-01 20:29:22,933 [ alarm_manager] [ INFO] NidoranΓÖé notication was triggered! Exception in thread Thread-1: Traceback (most recent call last):

File "C:\Python27\lib\threading.py", line 801, in __bootstrap_inner self.run()

File "C:\Users\Keith\Desktop\PokeAlarm-master\alarms\alarm_manager.py", line 54, in run self.trigger_pkmn(data['message'])

File "C:\Users\Keith\Desktop\PokeAlarm-mast

[2016-08-02 01:51] rievna opened #22 "No module named gevent error, but Gevent IS installed."
I saw the "no module named gevent" issue that was closed. I'm having the same issue, BUT gevent is installed and I'm running off the latest pull. See below:

MacBook-Pro:~ user$ cd /Users/user/Documents/PokeAlarm-master
MacBook-Pro:PokeAlarm-master user$ sudo -H pip install -r requirements.txt
Requirement already satisfied (use --upgrade to upgrade): Flask==0.11.1 in /Library/Python/2.7/site-packa

[2016-08-02 02:02] kvangent commented on #21
Hopefully fixed with latest commit.

[2016-08-02 02:02] #21 closed

[2016-08-02 02:06] rievna commented on #22
After Googling around, I was able to get it to work using `python -m pip install gevent` but it is weird because as you can see above, no error message was ever generated. Ah well!

[2016-08-02 02:12] kvangent commented on #22
Awesome, thanks for posting your fix!

[2016-08-02 02:12] #22 closed

[2016-08-02 02:22] rievna commented on #22
No problem! For your future reference if anything like this ever comes up again, from what I was reading while searching for a solution, it may have had to do with OSX's system integrity protection. This was where I found my info: [https://github.com/HelloZeroNet/ZeroNet/issues/286](url)

[2016-08-02 07:48] Plop opened #23 "Multiple errors on Pokemon"
Hi,

Running `python runwebhook.py -L fr` gives me those errors :

![image](https://cloud.githubusercontent.com/assets/876470/17320866/fe9352c2-5895-11e6-8300-e8c4de736e2e.png)
![image](https://cloud.githubusercontent.com/assets/876470/17320875/04aef0e4-5896-11e6-85f7-b7291731a4de.png)
![image](https://cloud.githubusercontent.com/assets/876470/17320891/192041b8-5896-11e6-9da0-9f88a152a3bf.png)

I

[2016-08-02 08:18] Duwacell opened #24 "can't run runwebhook.py"
# Gevent Installation :
pi@raspberrypi:~/PokeAlarm $ pip install gevent
Requirement already satisfied (use --upgrade to upgrade): gevent in /usr/local/lib/python2.7/dist-packages
Requirement already satisfied (use --upgrade to upgrade): greenlet>=0.4.9 in /usr/local/lib/python2.7/dist-packages (from gevent)
Cleaning up...

# when running runwebhook.py :
Traceback (most recent call last):
  File "r

[2016-08-02 11:42] kvangent commented on #24
Can you try pip install grevent --upgrade?

[2016-08-02 11:43] kvangent commented on #23
If you use -L fr, you need to adjust the name of the pokemon in the Alarms.json as well.

[2016-08-02 12:11] Duwacell commented on #24
yes it's the same thing

[2016-08-02 12:13] Plop commented on #23
Oh, that's it. Well, gonna do this. Thanks :)

[2016-08-02 12:13] #23 closed

[2016-08-02 12:32] mythicaldog opened #26 "Slack icons"
Slack icons are really blurred is there a way we can clean them up?

[2016-08-02 12:44] kvangent commented on #26
If you have some higher resolution icons that we have permission to use, please let us know.

[2016-08-02 12:45] mythicaldog commented on #26
I'll have a search, are you using the ones from PokemonGo-Map?

[2016-08-02 12:47] kvangent commented on #24
Would you try `python -m pip install gevent` and see if that does anything

[2016-08-02 12:48] kvangent commented on #26
Yes.

[2016-08-02 12:53] mythicaldog commented on #26
I see they have their Hi-res in a sprite map, I've switched my local copy to use the pixel icons

[2016-08-02 12:53] #26 closed

[2016-08-02 14:32] Duwacell commented on #24
still the same. maybe it's not support for raspberry pi user ?

[2016-08-02 14:42] kvangent commented on #24
It looks like your PI version might be dated? Potential fix here: https://www.raspberrypi.org/forums/viewtopic.php?t=82432&p=585169. Let me know if that works.

[2016-08-02 16:01] gine78 opened #27 "German alarms.json"
Hey,
has anyone create a german alarms.json and want to share it?

[2016-08-02 18:02] reme-dy opened #28 "[Enhancement] Add Address to notification"
For example, "Dragonite at 1600 Pennsylvania Ave, 20500 until 5:00pm (13m 30s)."  This way we can  gauge the location of the pokemon before tapping on the map link.

[2016-08-02 18:05] kvangent commented on #28
This is on the todo list.

[2016-08-02 18:07] reme-dy commented on #28
Thanks and great job!  Your notifier is helping a lot! :)

[2016-08-02 18:41] Plop commented on #15
@kvangent I don't know if you know this, but apparently, there is a [500 requests/month](http://www.androidpolice.com/2016/07/27/pushbullet-will-limit-api-based-pushes-500-per-month-free-accounts-starting-august-1/) for the free plan. Maybe it will be enough for your tests ?

[2016-08-02 19:00] kvangent commented on #15
@Plop I may keep updating it occasionally, but it will be a 2nd priority. The problem is that if a problem arises and I'm out of requests, it'll become very difficult for me to troubleshoot a solution.

[2016-08-02 19:01] Plop commented on #15
No problem, I understand :) You were saying that the API was paid only, so I thought you maybe didn't know it. :)

[2016-08-02 20:34] reme-dy commented on #28
@kvangent, perhaps the geocoder package can help?  Here's a snippet on how to reverse geocode a set of lat and lon, in this case it's the White House (1600 Pennsylvania Ave NW, 20500):

`import geocoder`
`g = geocoder.google([38.8977,-77.0365], method='reverse')`
`print g.housenumber + " " + g.street + ", " + g.postal`

I'm a newb at python so it'd take me a really long time to go through your cod

[2016-08-02 22:08] Varnsen opened #29 "Problem running python runwebhook.py"
Hey guys, just attempted to set this up for my Telegram bot, running into an issue when I try to
[code]

Any idea what could be causing this? Running pip install -r requirements.txt seems to confirm all requirements are met.

[2016-08-03 02:27] FritzSG commented on #29
I also get the same thing:
`
python runwebhook.py -h 127.0.0.1 -p 4000
Traceback (most recent call last):
  File "runwebhook.py", line 2, in <module>
    from gevent import monkey; monkey.patch_all()
  File "C:\Python27\lib\site-packages\gevent\__init__.py", line 49, in <module>
    from gevent.hub import get_hub, iwait, wait, PYPY
  File "C:\Python27\lib\site-packages\gevent\hub.py", line 11, in

[2016-08-03 02:37] FritzSG commented on #29
I had to install the latest patch for python to fix this. Now running 2.7.11 and it works.

[2016-08-03 02:46] kvangent commented on #29
@Varnsen Could you update python and run pip install -r requirements again?

[2016-08-03 02:47] kvangent commented on #24
Have you had any resolution to this problem?

[2016-08-03 02:57] xcheneric opened #30 "[Question] UTC 24 hour format to 12 hour format"
How would I go about doing this?

[2016-08-03 10:15] Duwacell commented on #24
nop i tried yesterday late night but nothing to do :(

my Rpi isn't outdaded because i just reinstall everything for pokemap ^^

[2016-08-03 14:57] kvangent commented on #24
No problem!

[2016-08-03 14:57] #24 closed

[2016-08-03 15:02] kvangent commented on #30
With the latest version of PokemonGo-Map on the develop side, all the times should be in local time instead of UTC. If you just want local time in the 12 hour format, that feature is coming.

[2016-08-03 15:58] brettgus opened #32 "Only notify within geofence / distance from a point?"
I have my PokemonGo-Map workers covering the area of a whole city.  However, I'd only like to get notifications near where I am.  Any plans to make a setting for something like this?

[2016-08-03 16:20] kvangent commented on #32
Yes.

For right now, you can just limit the workers covering the area you are interested in by only adding the webhook those instances.

[2016-08-03 16:24] kvangent commented on #29
A few people have solve issues by updating pip. Try `pip install --upgrade setuptools` and then reinstall the requirements.

[2016-08-03 16:47] Varnsen commented on #29
I just tried running setuptools, this was my response:

[code]

I checked my Python version, which I'm guessing is the problem if @FritzSG was able to fix it, and it looks like:

[code]

My friend who owns the server we're working on isn't comfortable with me updating on my own (no trust!), so when he's home in a few hours we're going to try to update to 2.7.11 and hopefully that'll fix the proble

[2016-08-03 17:34] FiveWord opened #33 "No JSON object could be decoded"
When going to start webhook.py I keep getting this error, which is strange because I've gotten it working before and just wiped the old copy I had and set up a new one. Any clue what could be causing this?
![image](https://cloud.githubusercontent.com/assets/11514435/17375455/a4518e6e-5976-11e6-8b80-5e11cf266956.png)

[2016-08-03 17:36] Aidz24 opened #34 "Error running latest Update With PokemonGo-Map Dev Branch"
Trying to re-setup my PokeAlarm (which was working brilliantly!). I downloaded PokemonGO-Map latest dev build and I cannot for the life of me get it to work. I've tried to change alarms, looking at possible changes I made from the first time, and nothing yet.

Here's what I'm getting.

C:\Users\Copmputer\Desktop\PokeTools\PokeAlarm-master>C:\Python27\python runwebhook.py
Traceback (most recent cal

[2016-08-03 17:43] Aidz24 commented on #33
Looks like you and I are getting the same errors. Posted the same thing at the same time.

https://github.com/kvangent/PokeAlarm/issues/34

I'll close mine if you keep yours open.

[2016-08-03 18:17] kvangent commented on #34
Add a comma after the api_key parameter.

[2016-08-03 18:17] kvangent commented on #33
Add a comma after  the api_key parameter.

[2016-08-03 18:54] Aidz24 commented on #33
Got it. You're the best! Thanks!

Exact details = Navigate to your alarms.json folder, add a " , " (without quotes) after the Slack/Pushbullet api_key (Mine was pushbullet!)

"api_key":"ENTER-API-KEY-HERE"
to

"api_key":"ENTER-API-KEY-HERE",

[2016-08-03 19:02] Aidz24 commented on #34
Added a coma after the pushbullet api_key parameter, however still getting almost identical errors.

I changed

"api_key":"Pushbullet-API-Here"

to

"api_key":"Pushbullet-API-Here",

C:\Users\Computer\Desktop\PokeTools\PokeAlarm-master>C:\python27\python runwebhook.py
Traceback (most recent call last):
  File "runwebhook.py", line 51, in <module>
    alarm_thread = Alarm_Manager(data_queue)
  File

[2016-08-03 19:03] kvangent commented on #34
Can you post your Alarm.json? The alarms portion?

[2016-08-03 19:09] Aidz24 commented on #34
I'm using both Slack and Pushbullet (Maybe thats the problem?)

{
	"alarms":[
		{
			"active": "True",
			"type":"pushbullet",
			"api_key":"Pushbullet-API-Here",
		},
		{
			"active": "True",
			"type":"slack",
			"api_key":"Slack-API-Here",
			"channel":"#pokemap"
		},
		{
			"active": "False",
			"type":"twilio",
			"account_sid":"",
			"auth_token":"",
			"to_number":"+11234567890",
			"from_n

[2016-08-03 19:11] kvangent commented on #34
Ok so now you got rid of the channel field, so you need to remove the comma. JSON format requires a comma between every item, but not at the end.

[2016-08-03 19:11] #34 closed

[2016-08-03 19:11] dunhillz opened #35 "Not getting notifications of all pokemon"
Hi,

I've seen this happen quite a few times. I have some of the more rarer pokemons set to true however even though it shows up on my pokemon go map server, the PokeAlarm does not send any notifications. For example, I saw a Blastoise within the map that expires in 5 minutes however it never sent a notification to slack.

Another example is with Eevee. I think I only get a notification half of th

[2016-08-03 19:20] kvangent commented on #35
Please post the commands you are using to run both the server and the map.

Also, you should check in the log and see if it says "Blastoise notification skipped:" for any reason.

[2016-08-03 19:24] Aidz24 commented on #35
Dunhillz, which program are you using to receive notifications? Pushbullet/Slack? I have two phones, on one of them, Slack messages only gets messages if I have it running in the background(all settings for push notifications in both Slack and Google are correct) on the one. On the other, it makes no difference if its open closed or anywhere in between. Seems overkill, but this is why I use both P

[2016-08-03 19:35] dunhillz commented on #35
`python runserver.py -a ptc -u Username -p Password -l 123,-123 -st 2 -H 0.0.0.0 -L en -k A1234123412341234 -wh http://localhost:3000/` - map

'python runwebhook.py -P 3000 -H 0.0.0.0' server

[2016-08-03 19:41] dunhillz commented on #35
@Aidz24 I am just using slack. I think I know exactly what you mean by the push notifications. I opened the slack app to see if I did get any notifications but it didnt show up there. I think its a problem with the initialization of retrieving the data from the pokemon go map

[2016-08-03 19:50] kvangent commented on #35
Is there a reason  you set the host to 0.0.0.0 instead of 127.0.0.1?
Are you running multiple workers? Are you sure they are all set up to use the webhook?

If you are getting some notifications its receiving some data from the map. Either your workers aren't all sending the information, or something is stopping it in between.

If you check the console that you are running the webhook in, it will

[2016-08-03 22:25] FiveWord commented on #33
I made the adjustment mentioned above, no luck, still the same error
![image](https://cloud.githubusercontent.com/assets/11514435/17384087/34f8608c-599f-11e6-84bb-3647840671a4.png)

[2016-08-03 22:39] kvangent commented on #33
Make sure you aren't using notepad to edit the file. Use a better editor like Notepad++. (you'll need to make a new copy and edit it, notepad probably ruined your current alarms.json).

If that doesn't fix it, please post your json file.

[2016-08-03 22:47] brettgus commented on #32
Yeah, that's what I'm doing for now (posting to separate pushbullet channels), but it can be hassle to try to segregate the workers out.

[2016-08-03 22:50] FiveWord commented on #33
Huh, I must have opened it in Notepad by accident at some point because making a new one worked perfectly. Thanks for the help :)

[2016-08-03 23:23] kvangent commented on #33
No problem

[2016-08-03 23:23] #33 closed

[2016-08-05 00:40] Blamroc commented on #35
I've had this problem with only one specific pokemon (charmander) that only spawns on one point within my scanned area. It always displayed on the map, sometimes it would trigger an alert (I only use Telegram) but most times it would not, I modified runwebhook.py to dump into a log file and could not find any mention of the charmander I saw on map but wasn't alerted for.
I use ```runwebhook.py -H

[2016-08-05 23:34] kvangent commented on #30
This feature is now added. See the Alarms Configuration page of the wiki for more information.

[2016-08-05 23:34] #30 closed

[2016-08-05 23:35] kvangent commented on #32
This feature is now added. See the Pokemon Configuration page of the wiki for more details.

[2016-08-05 23:35] #32 closed

[2016-08-05 23:36] kvangent commented on #5
This feature has now been added. Please see the Alarm Configuration and Pokemon Configuration pages of the wiki for more details.

[2016-08-05 23:36] #5 closed

[2016-08-05 23:36] kvangent commented on #28
This feature has now been added. Please see the Alarm Configuration page of the wiki for more information.

[2016-08-05 23:36] #28 closed

[2016-08-05 23:37] kvangent commented on #29
I'm going to close this issue for now. If you continue to have problems after the API is fixed, please reopen.

[2016-08-05 23:37] #29 closed

[2016-08-05 23:39] kvangent commented on #35
I would ensure that you have everything correctly setup. If charmander is spelled wrong or not set correctly, it will skip the notification (and say so in the log).

You can see all the webhooks received by the Alarm if you run in debug mode.

I am going to close this issue for now. If you continue to have problems after the API is fixed, please reopen.

[2016-08-05 23:39] #35 closed

[2016-08-05 23:41] kvangent commented on #27
If you wish to create a locales file, I can generate the alarms.json. You can see more locales in the locales folder.

[2016-08-06 03:23] reme-dy commented on #28
Thanks @kvangent.  I implemented geocoder into your code the other day and noticed some of the pokemon in my area had locations (housenumber and street) that geocoder couldn't resolve, instead returning 'None'.  The postal code was fine though.  Perhaps you should add the postal code as well, otherwise you might see "Zubat at None None".

There's also another package called geopy that has addition

[2016-08-06 09:59] gine78 commented on #27
I only need the _de alarm.json. I have no time yet to create one. But if i found some minutes, i can create one

[2016-08-07 09:48] warxhead1 opened #36 "Crash sometimes when Notification Triggered"
2016-08-07 05:08:56,487 [     alarm_manager] [   INFO] Pikachu notication was triggered!
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/home/warxhead/PokeAlarm/alarms/alarm_manager.py", line 63, in run
    self.trigger_pkmn(data['message'])
  File "/home/warxhead/PokeAlarm/alarms/alar

[2016-08-07 11:12] vervsdvgwegfeg commented on #36
me to:
`2016-08-07 13:05:38,601 [     alarm_manager] [   INFO] Slowpoke notication was triggered!
Exception in thread Thread-1:
Traceback (most recent call last):
  File "C:\Python27\lib\threading.py", line 801, in __bootstrap_inner
    self.run()
  File "C:\Users\Test\Desktop\Pokemon\PokemonGo-Map\alarms\alarm_manager.py", line 63, in run
    self.trigger_pkmn(data['message'])
  File "C:\Users\Te

[2016-08-07 11:55] Maerchensarg commented on #36
This is what I get:

2016-08-07 13:54:53,773 [     alarm_manager] [   INFO] Alarm not activated: pushbullet because value not set to "True"
2016-08-07 13:54:53,773 [     alarm_manager] [   INFO] Alarm not activated: slack because value not set to "True"
2016-08-07 13:54:53,773 [     alarm_manager] [   INFO] Alarm not activated: twilio because value not set to "True"
2016-08-07 13:54:53,773 [    te

[2016-08-07 12:21] kvangent commented on #36
I've pushed a change for these issues. Could you do a new pull and let me know if you have any issues?

[2016-08-07 12:25] Maerchensarg commented on #36
Thanks, but I get the same error:

Exception in thread Thread-1:
Traceback (most recent call last):
  File "C:\Python27\lib\threading.py", line 801, in __bootstrap_inner
    self.run()
  File "D:\PGM\PokeAlarm-master\alarms\alarm_manager.py", line 63, in run
    self.trigger_pkmn(data['message'])
  File "D:\PGM\PokeAlarm-master\alarms\alarm_manager.py", line 119, in trigger_pkmn
    alarm.pokemon_

[2016-08-07 12:29] kvangent commented on #36
@Maerchensarg Are you using text substitution?

[2016-08-07 12:40] Maerchensarg commented on #36
Nope. I freshly redownloaded the files, put my Telegram stuff into the config and activated some Pokemon. The error turns up when a Pokemon was triggered. When it will be ignored everything seems to be fine.

[2016-08-07 12:42] neutron666 commented on #36
Same error for me

[2016-08-07 12:43] kvangent commented on #36
Which pokemon was triggering it?

I've just pushed a new commit - could you both try again?

[2016-08-07 12:46] Maerchensarg commented on #36
For example:

2016-08-07 14:43:42,519 [     alarm_manager] [   INFO] Weedle ignored: notify not enabled.
2016-08-07 14:43:42,535 [     alarm_manager] [   INFO] Pidgey notication was triggered!
Exception in thread Thread-1:

With the new build I get:

2016-08-07 14:45:00,904 [     alarm_manager] [   INFO] Pidgeotto notication was triggered!
Exception in thread Thread-1:
Traceback (most recent call

[2016-08-07 12:47] kvangent commented on #36
@Maerchensarg Is this after the last commit?

[2016-08-07 12:58] brettgus opened #37 "How do you deal with negative expiry time?"
I was browsing the code, and it looks like you check to see if a Pokemon has already expired when you get the notification.  However I've noticed that some of the pokemon will have a negative expiry time.  I believe this means that the pokemon will last longer than 15 mins.  Are you accounting for this?

[2016-08-07 13:08] paradoxally commented on #37
At least in the earlier releases when I used this as part of AHAAAAAA's forked repo, it would send me notifications about expired Pokémon and they would be constant (e.g. 10 notifications in 5 minutes or so). If this hasn't been fixed, I believe it's possible to suppress with a simple check.

[2016-08-07 13:11] kvangent commented on #36
Ok, I think it should be working now.

[2016-08-07 13:27] Maerchensarg commented on #36
Works for me. Thanks a lot!

[2016-08-07 13:31] #36 closed

[2016-08-07 13:35] kvangent commented on #37
As of right now, PokemonGo-Map sends a timestamp and now a countdown of when they dissapear. I'm not sure if the Map corrects negative times or not - but the Alarm check if a notice has already expired before alerting you. This fixed the multiple notifications issue in early versions.

[2016-08-07 13:35] #37 closed

[2016-08-07 13:35] kvangent commented on #27
I forgot to let you know, but I updated default alarms.json to include all supported languages.

[2016-08-07 13:35] #27 closed

[2016-08-07 15:29] panix187 opened #38 "Need to change URL for icons"
2016-08-07 17:26:57,462 [     alarm_manager] [   INFO] Bulbasaur notication was triggered!
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/root/PokeAlarm/alarms/alarm_manager.py", line 63, in run
    self.trigger_pkmn(data['message'])
  File "/root/PokeAlarm/alarms/alarm_manager.py", l

[2016-08-07 15:32] kvangent commented on #38
Good catch, I'll push a change in a moment.

[2016-08-07 15:33] panix187 commented on #38
I had to change {id:d} to just {id} also fyi

[2016-08-07 15:38] kvangent commented on #38
I've pushed the changes. I would appreciate if you would do a fresh pull and confirm that they work.

[2016-08-07 15:38] #38 closed

[2016-08-07 15:52] HusbandoMax opened #39 "[Enhancement] Discord"
Is there any chance of having this post in Discord acting like the bots I see all the time or maybe facebook groups?

[2016-08-07 16:04] Imoq opened #40 "Telegram notification issue (after network failure?)"
Telegram notification was working perfectly, and I was out hunting but then I noticed that my map stopped responding for about 4-5 minutes so I assume it was a home network issue (connection to internet loss or something). Some time later, I noticed some rare Pokémon had appeared but PokeAlarm never notified via Telegram. When I came back home, I found this on the console:

2016-08-07 14:42:20,688

[2016-08-07 17:39] felixvd opened #41 "Error on Ubuntu 14.04"
I have the map running fine on my server but the PokeAlarm script refuses to run because the websocket module is missing. I tried to install it, but get more errors. See below:

[code]

pip install -r requirements.txt terminates without errors. I am running python version 2.7.6 on Ubuntu 14.04. I suppose I could try setting up a separate python environment with 2.7.11 but I'm not feeling too great

[2016-08-07 17:43] edcousins opened #42 "Instructions typo"
Just a heads up, your instructions say:

`Run pip to install requirments pip install -r requriements.txt`

Should be:

`Run pip to install requirements pip install -r requirements.txt`

Thanks for the great tool!

[2016-08-07 17:51] asadaizaz opened #43 "Traceback error when running 'runwebhook.py'"
[code]

[2016-08-07 18:22] dmtdabs opened #44 "Type Error: unsupported operand types"
Hello there,

After running PokeAlarm for a bit it stops with this error.

2016-08-07 11:14:49,699 [     alarm_manager] [   INFO] Horsea notication was triggered!
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/Users/pinchemac/Downloads/Poke

[2016-08-07 18:43] kvangent commented on #44
Make sure you update to the most recent version.

[2016-08-07 18:43] #44 closed

[2016-08-07 18:44] kvangent commented on #43
Your JSON config isn't correct. Try using http://www.jsoneditoronline.org/ to make sure you arent' missing something. (i looks like a comma at the end of line 5)

[2016-08-07 18:44] #43 closed

[2016-08-07 18:46] kvangent commented on #41
Are you sure that pip install -r requirements doesn't give you any errors? It looks like you have an outdated version of gevent. Try to run `pip install setuptools` and then run the requirements again.

[2016-08-07 18:48] kvangent commented on #40
Yes, it is because of the network outage. The Telegram package apparently doesn't catch timeouts. I'll look into catching the error.

[2016-08-07 18:49] kvangent commented on #39
Potentially discord. I'll add it to my list. Facebook probably not.

[2016-08-07 18:56] kvangent commented on #42
Thanks! I've updated it.

[2016-08-07 18:56] #42 closed

[2016-08-07 19:10] brettgus opened #45 "[Enhancement] Update config while running"
Any plans on making it so a URL can be called to the PokeAlarm to change the configuration options?

[2016-08-07 19:48] kvangent commented on #45
I have thought about implementing a RESTful API but the use cases seem pretty slim. What would you do with it if I did?

[2016-08-07 19:55] bbbenji opened #46 "[Typo] Incorrect link on Twilio wiki page"
Link to Twilio website in step 1 is `www.twilio.com` which is autolinked to `https://github.com/kvangent/PokeAlarm/wiki/www.twilio.com` by GitHub.

Should be`https://www.twilio.com`

GH doesn't support PR's on wiki otherwise I would submit one.

[2016-08-07 20:25] Varnsen commented on #29
Hey, sorry to reopen this ticket again (if this comment does reopen). I'm trying to take things into my own hands as the guy who usually does these changes isn't up for messing around with the Python upgrade.

I followed **[this tutorial](http://mbless.de/blog/2016/01/09/upgrade-to-python-2711-on-ubuntu-1404-lts.html)**, which is all I could find on upgrading to python 2.7.11. So, right now PokeAl

[2016-08-07 20:29] kvangent commented on #29
Your problem now looks like a JSON error. Run your alarms configuration through a json formatter. Looks like a missing comma at the end of like 26.

-------- Original message --------
From: Varnsen <notifications@github.com>
Date: 8/7/16 3:25 PM (GMT-06:00)
To: kvangent/PokeAlarm <PokeAlarm@noreply.github.com>
Cc: "VanGent, Kurtis Peter" <Kurtis.VanGent@coyotes.usd.edu>, State change <state_change

[2016-08-07 20:35] Varnsen commented on #29
Ahhhh success! Thank you so much. The problem on the last bit, was since I added the notify_text value, I needed to add a comma to the end of my telegram bot_token. Everything seems to be good on this issue with the virtualenv.

[code]

[2016-08-07 20:37] kvangent commented on #29
Awesome, glad you got it working.

-------- Original message --------
From: Varnsen <notifications@github.com>
Date: 8/7/16 3:35 PM (GMT-06:00)
To: kvangent/PokeAlarm <PokeAlarm@noreply.github.com>
Cc: "VanGent, Kurtis Peter" <Kurtis.VanGent@coyotes.usd.edu>, State change <state_change@noreply.github.com>
Subject: Re: [kvangent/PokeAlarm] Problem running python runwebhook.py (#29)

Ahhhh success!

[2016-08-07 20:40] prolearner opened #47 "Telegram notification issue"
i get this error like ten minutes after the startup of the program on OSX:

`Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/local/Cellar/python/2.7.11/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/Users/riccardo/MEGA/GithubProjects/PokeAlarm/alarms/alarm_manager.py", line 63, in run
    se

[2016-08-07 20:44] kvangent commented on #47
For whatever reason, Telegram aborted the connection. It's probably a fluke thing like a momentary drop in connection. If you get it again let me know, I'll try to work on some better error handling since the Telegram package doesn't seem to do it.

-------- Original message --------
From: prolearner <notifications@github.com>
Date: 8/7/16 3:40 PM (GMT-06:00)
To: kvangent/PokeAlarm <PokeAlarm@nore

[2016-08-07 20:46] prolearner commented on #47
it happened three times today, it would be nice if you could simply ignore it

[2016-08-07 20:47] kvangent commented on #47
Can you let me know what your set up is?

-------- Original message --------
From: prolearner <notifications@github.com>
Date: 8/7/16 3:46 PM (GMT-06:00)
To: kvangent/PokeAlarm <PokeAlarm@noreply.github.com>
Cc: "VanGent, Kurtis Peter" <Kurtis.VanGent@coyotes.usd.edu>, Comment <comment@noreply.github.com>
Subject: Re: [kvangent/PokeAlarm] Telegram notification issue (#47)

it happened three times

[2016-08-07 20:51] prolearner commented on #47
Python 2.7.11, node v4.4.7, OSX 10.11.6, what else do you need?

[2016-08-07 21:10] Varnsen opened #48 ""notify_text" doesn't appear to be working"
So, finally managed to get PokeAlarm up and running and it's pretty much perfect. I saw in an update we can customize what the message says with the "notify_text" field, which I read about [**here**](https://github.com/kvangent/PokeAlarm/wiki/Alarm-Configuration)

Once the server is running, the message I get from the bot is:

[code]

When, in the alarm.json I specified something like this:
[code]

[2016-08-07 21:17] kvangent commented on #48
Telegram page is [here ](https://github.com/kvangent/PokeAlarm/wiki/Telegram). Telegram has two fields - `header` and `body_text`.

[2016-08-07 21:17] #48 closed

[2016-08-07 21:21] kvangent commented on #46
Good catch, thank you.

[2016-08-07 21:21] #46 closed

[2016-08-07 21:31] kvangent commented on #47
What arguements do you use to run them from commandline?

[2016-08-07 21:46] prolearner commented on #47
no argumento from command line, all i did was to modify the alarm.json file and run `python runwebhook.py`

[2016-08-07 21:59] kvangent commented on #47
Ok, I'll look into it.

[2016-08-07 22:35] prolearner commented on #47
it happened 2 times more, i'm sorry if i said after 10 minutes from startup, it's more like 50 or 60 minutes

[2016-08-07 22:37] kvangent commented on #47
I just pushed a new commit... This should catch the error and retry a few times. Hopefully this handles the problem. Let me know if it works.

[2016-08-07 22:40] kvangent commented on #40
I've put it some basic Error catching in telegram in the latest push. Please try a new pull and let me know if this solves the issue for you.

[2016-08-07 23:19] HusbandoMax opened #49 "PushBullet Channel?"
Is there a way to get this to use channels to notify a group of people?

[2016-08-07 23:25] kvangent commented on #49
Yes - checkout the Pushbullet [page](https://github.com/kvangent/PokeAlarm/wiki/Pushbullet) in the wiki.

[2016-08-07 23:25] #49 closed

[2016-08-07 23:47] prolearner commented on #47
thanks for the quick fix, it handles the problem perfectly without missing any notification:

    alarm_manager] [   INFO] Dragonair notication was triggered!
    telegram_alarm] [  ERROR] ('Connection aborted.', error(54,     'Connection reset by peer'))
    telegram_alarm] [  ERROR] Error sending telegram alert. 1 attempt of 5.
    connectionpool] [   INFO] Starting new HTTPS connection (2): api

[2016-08-07 23:47] #47 closed

[2016-08-07 23:48] kvangent commented on #47
Great!

[2016-08-08 00:53] HusbandoMax opened #52 "Closing without error?"
Just randomly stops working after a few minutes without any error?
http://i.imgur.com/MPFsuJd.png

[2016-08-08 00:56] kvangent commented on #52
Try running in debug mode `-d` and see if you get any other errors.

[2016-08-08 01:17] HusbandoMax commented on #52
http://i.imgur.com/VGCiEGg.png

[2016-08-08 01:18] Varnsen opened #53 "Telegram PokeAlert notifications for channels instead of groups?"
Hey, not sure if this is the right place to post this as it's more of a request/"is this already a feature" question, rather than an issue. I'm curious if PokeAlert is compatible with channels instead of groups? That way people won't get notified in the group if other people start talking about the new Pokemon that spawned.

I found [this bit of information when looking for a channels ID code](htt

[2016-08-08 01:34] kvangent commented on #53
From the look of it, channels and groups are handled the same. You should just need to create the channel, add the bot and make it an administrator. The 'chat_id' will be @channelid where channel id is the end part of the url.

You are welcome to give it a shot and let me know if it works.

[2016-08-08 01:36] kvangent commented on #52
Can you show your bat file?

[2016-08-08 01:44] HusbandoMax commented on #52
python C:\PokeAlarm\runwebhook.py -d
pause
with -wh http://127.0.0.1:4000 thrown into my map with multiple account scanners if that affects it.

[2016-08-08 01:55] Varnsen commented on #53
I'll give it a go and report back ASAP. I'm having trouble with telegram not allowing me to create groups/channels currently, but hopefully that'll fix itself soon.

[2016-08-08 02:12] kvangent commented on #53
Hey so I tried it out and it works just like I said. I couldn't create a channel from the web app but I could do it from the android app.

[2016-08-08 02:12] #53 closed

[2016-08-08 02:14] Varnsen commented on #53
Aha! It worked brilliantly, I think. The problem comes in if you want a private channel, but it's not too much of an issue.

If anyone's curious, include the @ sign in the "chat_id": option, like @kvangent said.

e.g.: `"chat_id":"@PokeAlertArea",`
You get the ID from the join URL you can use.

[2016-08-08 02:38] felixvd commented on #41
`pip install setuptools --upgrade` gives:

[code]

And `pip install -r requirements.txt --upgrade` the same, with all the modules:

[code]

[2016-08-08 02:41] SkOODaT opened #54 "Slack Icons issue"
icons arent working for slack after recent changes

[2016-08-08 02:44] HusbandoMax commented on #52
Doesn't seem to matter what I run it with. Tried Push and Slack both randomly do it.

[2016-08-08 03:19] reactortrip commented on #54
The repository he is calling is gone, needs to be changed to something else.

[2016-08-08 03:22] reactortrip commented on #52
I kept having issues with this one as well.  I think I give up with webhooks.  Kvangent, I am using your original alarm that worked inside the map that you took down the git for, do you mind if I make my own git repository for it and give you complete credit, so I can keep my files backed up.

[2016-08-08 04:27] amducious commented on #45
I don't know if the OP was wanting the same thing as me but I think this would give us the ability to create a silent mode for ex. while I'm sleeping

[2016-08-08 04:52] Malouff commented on #54
You should use this project to mass upload emoji icons to slack
https://github.com/lambtron/emojipacks
and use this https://raw.githubusercontent.com/jaylynch/pokemoji/master/pokemon-by-name.yaml for the resource to upload

In the Message we could then do something like A wild :<pkmn> <pkmn> has appeared! to see the Image and Name.

Can you also edit you example to do it like the default message a

[2016-08-08 05:01] amducious opened #55 "[Request] Add multiple slack channels with different pokemon going to each one"
Ultimately I would like to have slack setup with a channel for Each Pokemon so my users can just add or remove that Pokemon's channel to receive or stop receiving that Pokemon's allerts

[2016-08-08 05:02] remcotroost opened #56 "Still issues with ReadTimeOut"
I just reinstalled the PokemonGo-Map on my own VPS instead of Heroku. Everything works fine except the webhook to PokeAlarm.

I think it's an issue with the time as I'm getting a ReadTimeOut issue. My alarm is running as I got a confirmation on Telegram.

Screenshot: http://imgur.com/FPUEF1N

Anybody got any ideas or had the same issue?

[2016-08-08 05:45] brettgus commented on #45
I was thinking about making a web GUI for myself so I could change the monitored location and pokemon ids while on the go.  I'm sure I'd figure out a way to whip up a way to push updates of my phones location automatically.

I was thinking of forking and implementing something like this myself, but I don't have much python experience and was having trouble figuring out how to pass data from the we

[2016-08-08 11:25] Imoq commented on #40
Notifications seem to be working fine now, thank you very much! I will close this issue.

[2016-08-08 11:25] #40 closed

[2016-08-08 11:57] kvangent commented on #56
It is not related to time.

It looks like an issue with PokemonGoMap I would install the latest version and make sure you reinstall the requirements with pip.

[2016-08-08 12:05] kvangent commented on #52
@reactortrip You certainly can, but there have been alot of changes to the Map to keep it working. The older version won't benefit from these changes.

@HusbandoMax Something is causing your python version to close. It doesn't seem to be the program it self. Do you run any antivirus or anything in the background?

One thing that I do to run the server is run a Virtual Machine with Ubuntu installed

[2016-08-08 12:08] kvangent commented on #55
I'll look into this.

[2016-08-08 12:10] kvangent commented on #41
My guess is that you need to update python then. Is there a reason you are running an older version?

[2016-08-08 12:15] kvangent commented on #54
@Malouff To do distance you just use <dist> in one of the customizable fields for your alarm.

[2016-08-08 12:17] kvangent commented on #54
@blaulan Would you be willing to do a more permanent method for these slack icons in a PR?

[2016-08-08 12:30] Bart274 commented on #55
where do you find your API key for Slack?

[2016-08-08 12:33] HusbandoMax commented on #55
That would be great. Having certain pokemon in certain channels like rares, uncommon ect.

@Bart274 https://my.slack.com/services/new/bot

[2016-08-08 12:39] amducious commented on #55
@HusbandoMax  It is great. As a temp fix I am running 13 instances of PokeAlarm for the different channels I want to run. But it has created a hell of a mess starting my server not to mention the extra overhead

[2016-08-08 12:39] Bart274 commented on #55
@HusbandoMax thanks a lot, that did the trick :)

[2016-08-08 12:48] HusbandoMax commented on #55
@amducious How did you go about running s many? I'm unable to run more than on at a time from the map.

[2016-08-08 13:03] amducious commented on #55
@kvangent I don't know if this helps get across what I'm thinking but I was hoping get have the alarms.json file act somthing like [this](http://pastebin.com/tJ6cuRBB).

This way not only would we be able to just add another slackbot section but if I wanted to do something like. Send everything to slack and then only have rares spawns sent to me through sms

[2016-08-08 13:09] rapinou opened #57 "Notifications for lured pokemons"
Since this (https://github.com/PokemonGoMap/PokemonGo-Map/commit/205f065f2980b81da5de21a24f2ae484e13a3842) was merged, i receive notifications for lured pokemons.
This could be great, but your code for check notify range seems not working on it, i receive notifications for lured pokemons far away from search range.
Thanks for checking this ;)

[2016-08-08 13:18] amducious commented on #55
@HusbandoMax You I dont know about windows so if you running it there your sol. But for linux I just cloned PokeAlarm into a new folder for each instance and then I run a script at startup like [this one ](http://pastebin.com/uyVPLvz6)

[2016-08-08 13:38] HusbandoMax commented on #55
@amducious Ah thought thats what you would have done. Wasn't 100% sure if it would let you run multiple webhooks o the map like that.

[2016-08-08 14:24] kvangent commented on #55
@HusbandoMax You can run as many webhooks as you want. You can have 10 different alarms going as long as they each have a different port and the Map is set up to send to all of them.

@amducious I am going to add the channel to the list of things that take dynamic text for slack. This way you can set up the channel as #<id> or #<pkmn> and it will send to the correct channel. I don't want to have a

[2016-08-08 14:26] kvangent commented on #57
Are you setting a location when you run the webhook? If the pokemon is lured or not shouldn't matter.

[2016-08-08 14:33] kvangent commented on #45
@amducious I just shut the alarm off when I got to bed and start it in the morning.

@brettgus If you can make a reasonable GUI, I'm fairly certain I can get it to pass data to the server.

[2016-08-08 14:34] rapinou commented on #57
I have never set location for the webhook server, only for the pokemap server.
It is now needed ?

[2016-08-08 14:39] felixvd commented on #41
The server is running my VPN and I didn't want to risk breaking it with an OS upgrade unless there's a good reason. Ohwell, I guess I'll try it.

[2016-08-08 14:57] reactortrip commented on #52
@kvangent thanks, not sure what I am missing, just like how stable it's been for me.  Seems to be pulling everything on the new dev map for me and only requires a few additions to the code.

[2016-08-08 15:13] kvangent commented on #41
You can upgrade python without an upgrade to the OS.

[2016-08-08 15:18] kvangent commented on #57
You only need to set it if you want to set a limit on how far away you get alerts on.

[2016-08-08 15:22] rapinou commented on #57
Ok , I understood the operation.
But how it goes if you change the location of pokemap frontend ? The location of pokealarm does not change ?
This does not cause problems for notifications?

[2016-08-08 15:28] kvangent commented on #57
There is currently no way to update location for PokeAlarm. It can give a distance away from one location only. If you change the location of PokemonGo-Map via the front end, PokeAlarm will continue to calculate distance from the original location give to it.

[2016-08-08 15:37] rapinou commented on #57
Ok, i have just testing it. So if i set location, it fix my problem with receiving notifications of far away lured pokemons. And when i change location in pokemap frontend, normal notifications still works, but not lured pokemons notifications. It's ok, spam of lured pokemons have stop, it's good.
Thank you.

[2016-08-08 15:38] kvangent commented on #55
Ok, you can now add an option 'pkmn_channel' field to Slack alarms. This will allow you to push to channels named with ID or Pokemon names. Nidorans will be renamed to NidoranM or NidoranF.

[2016-08-08 15:38] #55 closed

[2016-08-08 15:44] kvangent commented on #56
This doesn't seem to be happening to me when I run the map. Are you still having problems?

[2016-08-08 16:15] Imoq opened #58 "Lost notification of existing Pokémon: "time_left has passed"?"
Earlier today I took a quick look at the map and noticed an Arcanine with still 8 minutes to depop very close to my location. Rushed to it and was able to catch it, but when I went back home I looked for PokeAlarm log and found this:

2016-08-08 16:36:55,722 [     alarm_manager] [   INFO] Arcanine ignore: time_left has passed.
2016-08-08 16:37:18,254 [     alarm_manager] [   INFO] Weedle ignored:

[2016-08-08 17:00] kvangent commented on #58
What version of PokemonGo-Map are you using? Can you please list the arguments for both?

If possible, can you check your DB for the Arcanine entry and post it as well?

[2016-08-08 17:00] amducious commented on #55
@kvangent Thank for doing this so quickly. I know I'm going to fee dumb after this but how should this be formated to get this working can you show and example alarms.json file.

[2016-08-08 17:01] kvangent commented on #55
[code]

[2016-08-08 17:03] remcotroost commented on #56
Unfortunately I am. I've brought it up in the PokemonGo-Map community. I
fresh installed 12 hours ago so this shouldn't be a problem.

What does your webhook look like in config.ini on the map (or via -wh).
I'm using `webhook: http://localhost:4000`. I've also tried 127.0.0.1

Thank you.

On Aug 8, 2016 17:46, "Kurtis Van Gent" <notifications@github.com> wrote:

This doesn't seem to be happening t

[2016-08-08 17:15] kvangent commented on #56
What is your OS? Python version?

My webhook looks the same as yours.

[2016-08-08 17:17] Imoq commented on #58
Regarding PokemonGo-Map version, it is:

commit bea23ba3ed722768a674694bc7380da5ee74b54b
Author: Hao Hu <hhu94@uw.edu>
Date:   Sat Aug 6 22:28:42 2016 -0700

I don't run PokeAlarm with any other argument than:

The relevant part on alarms.json:

                        "active": "True",
                        "type":"telegram",
                        "chat_id":"-someid",

[2016-08-08 17:25] remcotroost commented on #56
I'm on:

Ubuntu 14.04.5 LTS
Python 2.7.6 (also have python3 installed for other things)
PIP is connected to Python 2.7.6

It's really weird. I've googled and its seems to be a TimeOut issue, perhaps to the alarm, but the alarm itself is running (I get activated notification on telegram) and listening on port 4000. It might be a system issue, I don't know

[2016-08-08 18:35] fatmagic commented on #54
RE: Current Slack Icon Issue - It was calling the "master" branch, I went into the "slack_alarm.py" (line 38) and changed it to "/develop/" -- _e.g. icon_url='https://raw.githubusercontent.com/PokemonGoMap/PokemonGo-Map/**develop**/static/icons/{id}.png'.format(**pkinfo)_

[2016-08-08 18:35] rawdr opened #59 "[Enhancement] Notify of location change"
Is it possible to add a notification when the location of the PokemonGo-Map changes? Coordinates could be passed to link to new location as well.

Here is what shows up in my PokemonGo-Map console when location is updated (Coordinates modified to middle of nowhere):
`2016-08-08 14:24:29,580 [     Thread-3921][           app][    INFO] Changing next location: 59.7458078,-34.1829137`

But I don't kn

[2016-08-08 18:37] fatmagic commented on #59
This would be helpful. I share my map with another person who will change the location every now and then (and vice versa), would be nice to know when it changes. Thanks kvangent!

[2016-08-08 18:39] kvangent commented on #59
The PokemonGo-Map would need to be updated to signal when it changes it's location.

[2016-08-08 18:39] fatmagic commented on #45
@amducious If you use Slack for notifications, you can set an automatic nightly "Snooze / Quiet Time" on the channel. I do this so it goes silent from 11pm to 7am. Notifications still arrive, just don't buzz my phone until after 7am.

[2016-08-08 18:49] rawdr commented on #59
Thanks kvangent. I'll look at PokemonGo-Map and probably add a feature request there... I'll return here if that gets added.

[2016-08-08 19:38] rapinou commented on #57
Finally, set location doesn't fix this problem. My bad, I did my test on an old version of Pokemap which has not implemented this commit : https://github.com/PokemonGoMap/PokemonGo-Map/commit/205f065f2980b81da5de21a24f2ae484e13a3842

On a new version of Pokemap with this commit, spam notifications of far away lured pokemons continue, set location doesn't work to stop this.

[2016-08-08 21:55] SkOODaT commented on #54
icon_url='https://raw.githubusercontent.com/PokemonGoMap/PokemonGo-Map/develop/static/icons/{id}.png'.format(**pkinfo)

can confirm this works i did same thing figured it out lol

[2016-08-08 22:05] bbbenji opened #60 "[Enhancement] Send notification to multiple number via Twilio"
Would be a nice feature to be able to send an SMS to multiple phone numbers via the Twilio API.

[2016-08-08 22:11] bbbenji commented on #60
Should be able to accept another `to_number` instead of creating a whole new alarm. But it does work. Thank you.

[2016-08-08 22:33] kvangent commented on #58
Navigate to the folder where the DB is at. `sqlite3 pogo.db` (or whatever your db is named
`.headers on` and `.mode columns` increase readibility. Then `SELECT * FROM pokemon WHERE pokemon_id = 59` and when try to tell me which one is the correct one.

[2016-08-08 22:38] kvangent commented on #57
@rapinou So what is the problem? You are getting notification of lured Pokemon far away?

[2016-08-08 22:39] #54 closed

[2016-08-08 22:42] kvangent commented on #52
@HusbandoMax are you still having this issue?

[2016-08-08 22:42] kvangent commented on #41
@

[2016-08-08 22:42] #41 closed

[2016-08-08 22:46] rapinou commented on #57
Yes, get a lot of notifications for lured pokemons out of my search range.
The problem went with this commit : https://github.com/PokemonGoMap/PokemonGo-Map/commit/205f065f2980b81da5de21a24f2ae484e13a3842
If I delete these lines, spam finish.

[2016-08-08 23:25] HusbandoMax commented on #52
@kvangent Nuh I got everything working. It seemed that it was the map iteself. I forgot that I had it restarting every so often when workers would stop working but that doesn't happen in the new version. So it was my dumb fault not realising that it was still doing that.

[2016-08-08 23:25] #52 closed

[2016-08-08 23:40] jameson167 opened #61 "No Notifications (Slack)"
Thank you for putting together this amazing tool. I followed all the configuration steps and successfully launch the webhook python script. The "PokeAlarm" BOT successfully joins my slack channel and the "Webhook server running on http://127.0.0.1:4000" message returns. However, I never get any notifications of any pokemon spawn. I have tested with all my most common Ekans, Cubones etc in my area

[2016-08-08 23:40] kvangent commented on #57
And you sure that they are out of the search range? If possible, could you add the <dist> text to one of your alarms and let me know what distance it says the lure pokemon are from (and if possible what distance they really are)?

Is it the same pokemon every time or different pokemon?

[2016-08-08 23:41] kvangent commented on #61
What commands are you using to start the Map and what what commands for the Alarms?

[2016-08-08 23:43] martinsweitzer commented on #57
His issue is that search range is like -ST 5 from some location  but the pokestops you get from that location are over a much larger area (e.g. i get 160 pokestops or something some which quite far away)

[2016-08-08 23:51] martinsweitzer opened #62 "Something is amiss with how PokeAlarm handles webhooks"
I run pokemon map with say -ST 5 and 12 accounts (yes over kill but I was at a loss to why it was slow).  The updates I see on the map (and logs) are speedy fast covering the entire 60 nodes.  All 60 nodes are all green all the time.  And even 10 seconds there are 12 nodes updated.

If I add a -wh for pokelyzer, I have the same behavior.  Speedy fast.

If I add a -wh for pokealarm (by itself) then

[2016-08-09 00:00] kvangent commented on #57
@rapinou Are you enabling the location limit on pokemon? Because otherwise setting the location doesn't do anything.

[2016-08-09 00:00] Imoq commented on #58
Great! Here is the info:

encounter_id                  spawnpoint_id  pokemon_id  latitude         longitude         disappear_time
----------------------------  -------------  ----------  ---------------  ----------------  --------------------------
MTU0OTE0NTQ3OTcxMzM3NDI2MDU=  12c9c74d58b    59          43.279365438427  5.38344451327047  2016-08-08 15:01:30.764000
sqlite>

Thanks!

[2016-08-09 00:04] rapinou commented on #57
Yes, sure they are out of range. I have verified it on the map. And it concerns all lured pokemons who appeared on lured pokestops, so not always the same.
I'm on my bed, i can't do the test for distance right now but i will take a look tomorrow.

What do you mean by location limit on pokemon ?

[2016-08-09 00:06] rapinou commented on #57
@martinsweitzer Yes you're right, if i set step limit to 5, many pokestops out of these 5 steps appeared on the map. Maybe have to look at this side.

[2016-08-09 00:06] kvangent commented on #58
Are you running both on the same machine? What timezone are you in?

[2016-08-09 00:08] kvangent commented on #57
@rapinou You can set limits on how are away pokemon are alerted to you. Check out the Pokemon Configuration page for more details.

[2016-08-09 00:08] #57 closed

[2016-08-09 00:21] jameson167 commented on #61
I guess that's the part I am confused about. On the alarm I am running the default
python runwebhook.py -l "26.09995395818274 -108.32649827003478"
which defaults to the 127.0.0.1:4000

on the Map I am running my standard python runserver.py -u credentials -p credentials -st 5 -k APIHERE -l "26.09995395818274 -108.32649827003478"

The map is running flawlessly on my localhost as well as NGROK.

The

[2016-08-09 00:23] kvangent commented on #61
Add the `-wh http://127.0.0.1:4000` command when you start up the map.

[2016-08-09 00:24] jameson167 commented on #61
Yes, sorry forgot to put that in the reply but I do have it ending with -wh http://127.0.0.1:4000

Still no luck

[2016-08-09 00:27] rapinou commented on #57
Ohh, i didn't see this new page on your wiki.
My apologies for wasting your time :/
And thanks for your tool ;)

[2016-08-09 00:36] kvangent commented on #61
Are you getting any errors in either the Map or the Alarm? Do you have a firewall enabled?

[2016-08-09 01:17] martinsweitzer commented on #62
Well still not certain why this occurs (and it doesn't make sense) but a fun other bug is that every single worker is sending duplicate pokestop data is pretty exciting!  (e.g.  thread 0 scans in node 0  and thread 1 scans in node 1    the nodes are close to each other and so pick up some of the same/some of the same pokestops which then get webhook sent out

OH!! commenting out sending out pokest

[2016-08-09 01:32] jameson167 commented on #61
No errors on either. Firewall disabled.

Just spits out the following and sits there:
![image](https://cloud.githubusercontent.com/assets/20566412/17501713/6455f11e-5d96-11e6-9aae-b164397e7e05.png)

[2016-08-09 01:32] kvangent commented on #62
@martinsweitzer You mean bug in the PokemonGo-Map? My guess is this is what is slowing it down - it must be adding a crazy high amount post requests.

[2016-08-09 01:34] kvangent commented on #61
Are you running them both on the same server? It sits there because it isn't receiving requests from the Map. Either the Map isn't sending them, or else something is stopping them from getting to the Alarm. Can you post a screenshot of your startup commands for each? You can blur out personal information.

[2016-08-09 01:40] martinsweitzer commented on #62
So if you did 12 workers and then when a it is upserting 290 pokestops and then if say 40 of them are lured.   So almost full overlap like 400 requests every 10 seconds or so.

But, Pokelyzer is able to handle that with no "slow down"  while pokealarm has some bottle neck or something that causes those hundreds of web requests to stall out the PokemonGo-Map

[2016-08-09 01:44] martinsweitzer commented on #62
Ahh!  ok so with lot of logging on (e.g. every single webhook request logging).  You can watch it the PokemonGo-Map issue a webhook and then pokealarm consume it.   In lock step fashion.

So as there are 400 requests with each one taking about a second it seems there is the slow down.

[2016-08-09 05:20] jameson167 commented on #61
I am running them both on my home local PC which is running through a working paid-for proxy.

Here are the exact commands, I substituted the sensitive stuff after pasting here:
`python runserver.py -u username -p password -st 5 -k ABCDGOOGLEMAPAPIKEY -l "24.09995395818274 -124.32649827003478" -wh http://127.0.0.1:4000`

`python runwebhook.py -l "24.09995395818274 -124.32649827003478"`

The python

[2016-08-09 05:24] RiberoD07 commented on #53
Had no idea what chat_id was i kept using username or @username but no luck. Thanks, created a channel and this worked! If pushbullet is no longer supported telegram will be my go to.

[2016-08-09 05:39] amducious commented on #55
@kvangent I know this has been closed but is there anyway to get the bot to auto create the rooms when you add the new "pkmn_channel option

[2016-08-09 08:34] Imoq commented on #58
Apologies, I went to bed last night after posting. They are both running on same Raspberry Pi, I am in CEST time zone (UTC +2).

It does seem strange that the DB has Arcanine listed at 15:01 when the notification was at 16:36, it doesn't make sense and could very well be a Map bug instead, no?

[2016-08-09 11:27] bilalkamoon opened #64 "Connection aborted when Network disconnects"
I'm getting "ProtocolError: ('Connection aborted.', error(10054, 'An existing connection was
forcibly closed by the remote host'))" whenever my network disconnects then connects again.

And it just freezes there. Is there a way to make it try to reconnect again instead of freezing?

[2016-08-09 13:14] kvangent commented on #64
Something I'm working on.

[2016-08-09 13:32] kvangent commented on #62
That one second wait on requests is on PokemonGo-Map. It starts a connection and gives it a timeout for 1 second. For some reason, PokemonGo-Map must not be registering or handling the OK response quickly enough. The Alarm is sending back a 200 (almost instantly), but the Map seems to be waiting anyway.

You could try to adding some debugging lines in the Webhook function before is sends the POST

[2016-08-09 14:48] kvangent commented on #62
@martinsweitzer Are you running debian?

[2016-08-09 15:08] kvangent commented on #58
Yes, I think it was a spawn with a 30 or 45 minute time. The map doesn't seem to be handling these properly and gives time already passed instead of a future time. The DB entry is in UTC, so it probably actually despawned at 17:01, making a 16:36 notification likely for a 30 minute spawn.

[2016-08-09 15:09] kvangent commented on #56
@remcotroost Can you delete your PokemonGo-Map older and do a clean pull and npm install? Please back up any config files if necessary.

[2016-08-09 16:14] jameson167 commented on #61
Tried using http://127.0.0.2 and port 4001 on both the webhook Map command as well as PokeAlarm. Still just starts PokeAlarm and has no activity.

[2016-08-09 16:17] kvangent commented on #61
@jameson167 127.0.0.1 is an address specifically for loop back. My guess is that the proxy is redirecting your web traffic preventing it from getting to the alarm. The problem is that the alarm isn't getting the webhooks from the Map.

Can you list your proxy setup?

[2016-08-09 16:26] jameson167 commented on #61
I have the proxy placed in my internet LAN settings running to port 8800. I also have the "Bypass proxy server for local addresses" box checked which I believe was required to get the localhost maps loading on port 5000.

![image](https://cloud.githubusercontent.com/assets/20566412/17524398/47a20b98-5e13-11e6-9c6c-2d191f513f69.png)

[2016-08-09 16:28] roflinger opened #65 "Exception in thread Thread-1:"
with the first found pokemon:

Exception in thread Thread-1:
Traceback (most recent call last):
  File "C:\Python27\lib\threading.py", line 801, in __bootstrap_inner
    self.run()
  File "D:\Users\Downloads\PokeAlarm-master\PokeAlarm-master\alarms\alarm_manager.py", line 66, in run
    self.trigger_pkmn(data['message'])
  File "D:\Users\Downloads\PokeAlarm-master\PokeAlarm-master\alarms\alarm_man

[2016-08-09 16:53] jameson167 commented on #61
If I try to access the localhost:4000 it says Method not allowed (probably because you can't browse to the alarm service), is that a clue that the webhook is somewhat functioning?

![image](https://cloud.githubusercontent.com/assets/20566412/17525338/20c1c2bc-5e17-11e6-9de6-6d0eca176302.png)

[2016-08-09 16:54] kvangent commented on #65
Could you pull the latest commit and try again?

[2016-08-09 16:56] kvangent commented on #61
No, the alarm isn't set up to receive get requests. I would suggest disabling the proxy and see if it works then.

[2016-08-09 17:03] jameson167 commented on #61
I had the proxy disabled during my latest test. Is there a way we could perhaps communicate on Discord or Slack to check the configuration easier?

[2016-08-09 17:07] kvangent commented on #61
If you post a link to a discord chat I'll see what I can do.

[2016-08-09 17:17] RiberoD07 commented on #45
another github project uses a telegram bot to add or remove entries to a config file would this be possible?
https://github.com/algoni/PogoBot-Telegram/blob/master/src/bot.js
think it's a very nice way of doing it for people using telegram as their alarm and allows for changing the configuration on the fly. I know the configuration the other github project uses is completely different but might be

[2016-08-09 17:19] kvangent commented on #45
@RiberoD07 It's definitely possible but I probably won't get around to implementing it. I'm just one guy doing this in his free time and I'm already stretched pretty thin trying to answer issues as they pop up.

[2016-08-09 17:19] RiberoD07 commented on #60
@bbbenji no because some people will want different pokemon sent to different numbers so I think the way it is now is the best way to please both crowds.

[2016-08-09 17:23] RiberoD07 commented on #45
@kvangent no worries, I appreciate the work you've already done! It's great and worked flawlessly from the get-go. Might be a bit more complicated seeing how their code is in javascript but if I have time i'll take a look at how something like that could work in python and see if I could do it but certainly recommend others that think they can do it to go for it.

[2016-08-09 17:23] DyonR commented on #65
I had the same issue, for me it is working now.

[2016-08-09 17:24] kvangent commented on #65
@DyonR Great, thanks.

[2016-08-09 17:24] #65 closed

[2016-08-09 18:27] schawsk opened #66 "Distance setting not working?"
So, the wiki describes that when you set the flag for a pokemon in alarms.json neither to true or false, but a number, it will only alert you of pokemon within a distance away of me according to that number. However when I do that, I am always alerted of all pokemon of that type, no matter how close or far they are.
I am running pokemon go map with a server (-os) flag at my current position and th

[2016-08-09 18:43] kvangent commented on #66
Yes, you need to input your location in with -l or --location. It will calculate all distances from this point.

[2016-08-09 18:43] #66 closed

[2016-08-09 18:50] jameson167 commented on #61
I am on the main PokemonGo-Map discord, username "Jameson167" you could message me there, thank you
https://discord.gg/dKTSHZC

[2016-08-09 18:50] martinsweitzer commented on #62
@kvangent It is getting 200 back when I was logging that.  I will get some exact timings later today.

@kvangent I am running win64 12 cores 32 gigs of ram etc.  Both the map and the PokeAlarm are running on the same machine.

Also when I was messing around I believe I put an App.run() in PokeAlarm and somehow was able to get the log output from the PokemonMap in that cmd.exe!

[2016-08-09 19:14] roflinger commented on #65
also working here, was on tour sorry :D

[2016-08-09 20:36] joveice opened #67 "Not getting any notifications."
## Bug/Feature Description

## Your Environment

Operating System:Ubuntu 16.04
Environment name and version (e.g. Python 2.7):
PokemonGo-Map command: `python /home/user/pokemon/runserver.py -os -l '69.649606 18.955858' -P 5002 -H 0.0.0.0 -fl -wh https://127.0.0.1:5000`
PokeAlarm command: `python /home/user/pokealarm/runwebhook.py -H 127.0.0.1 -P 5000`

## Your Alarms Config

[code]

##Troubleshoot

[2016-08-09 20:44] Imoq commented on #58
ok, and since I haven't seen any other issues like this in the days I have used PokeAlarm, let's say it was an isolated bug and close for now then.

Thank you very much for your support!

[2016-08-09 20:44] #58 closed

[2016-08-09 21:31] joveice commented on #67
Added slacker, still no notifications. just the startup one

[2016-08-09 22:14] brettgus commented on #45
@kvangent Even just an API to change the location would be awesome.  If you have info/ideas on how to pass changes on to the alarm_manager thread I could even try to work on making this myself and submitting a PR

[2016-08-09 22:16] kvangent commented on #61
Issue was proxy related.

[2016-08-09 22:16] #61 closed

[2016-08-09 22:17] kvangent commented on #67
Use `-wh http://127.0.0.1:5000` - No s on the http.

[2016-08-09 22:20] kvangent opened #68 "[BUG] Pokemon aren't sent because time_left has passed"
**Problem**: Currently PokemonGo-Map is mishandling 30 and 45 minute spawns and sending past dissapeared_times. This causes pokemon with long times to be skipped over by the Alarm.

**Possible Solutions**:
PR for PokemonGo-Map to handle the times correctly.
Clientside fix - Look for negative times and account somehow?

[2016-08-09 22:21] kvangent commented on #62
@martinsweitzer Can you also try disabling ipv6 on your machine and see if that solves any issues

[2016-08-09 22:29] joveice commented on #67
Changed, still no notifications

[2016-08-09 22:36] kvangent commented on #67
Can you post your commands for both again please? As well as your console output from the Alarm?

[2016-08-09 22:48] joveice commented on #67
pokealarm command
python /user/ubuntrix/pokealarm/runwebhook.py -H 127.0.0.1 -P 5000

pokemap command
/home/user/pokemon/runserver.py -os -l '69.649606 18.955858' -P 5002 -H 0.0.0.0 -fl -wh http://127.0.0.1:5000

log from pokealarm
`2016-08-10 00:47:42,991 [     alarm_manager] [   INFO] You will be notified of the following pokemon:
Eevee, Snorlax, Dragonite, Mewtwo, Mew
2016-08-10 00:47:44,333 [

[2016-08-09 22:49] kvangent commented on #67
@joveice  Are you running multiple workers?

[2016-08-09 22:49] joveice commented on #67
Yes 56

[2016-08-09 22:59] waltwhitman6969 opened #69 "Missing Pokemon every so often"
For some reason I have noticed the alarm doesn't trigger a notifcation for some Pokemon. In the past two days. PokemonGoMap has picked up a Pinsir and a Rhydon near me but PokeAlarm had no notifcation of either.

The cmd prompt that I have running for PokeAlarm didn't see it at all.

I made sure that these two Pokemon are not marked as False in alarms.json and I do not know if there are any others

[2016-08-09 23:00] martinsweitzer commented on #62
@kvangent even with ipv6 off  it was slow.   But that led me to:   FUCK http://localhost     http://127.0.0.1  and then everything is fast again   even with the many many many lures being fired off

[2016-08-09 23:11] joveice commented on #67
Added -wh http:127.0.0.1:5000 to a random worker and removed it from the starter, this worked, tho if I add it to all the workers will port confliction happen or does it work with -wh sameport on each?

[2016-08-09 23:15] kvangent commented on #69
Issue was not in the proper template.

[2016-08-09 23:15] #69 closed

[2016-08-09 23:17] waltwhitman6969 commented on #69
You just answered another persons issue earlier without the proper template. Do you want me to describe the issue another way?

[2016-08-09 23:17] kvangent commented on #67
@joveice The wh command needs to be added to each worked The wh address is the address which they need to send information to - its the address the Alarm is listening for . So yes, they all should point to the same port/ip.

[2016-08-09 23:17] #67 closed

[2016-08-09 23:18] joveice commented on #67
Thank you it fixed the issue

[2016-08-09 23:26] joveice opened #70 "[ENHANCEMENT] Twitter?"
Title says it all, have it post to twitter using their api?

[2016-08-09 23:30] theresthatguy commented on #62
@martinsweitzer 127.0.0.1 is the default host if you run `python runwebhook.py` without any flags.

[2016-08-09 23:32] kvangent commented on #69
@waltwhitman6969 I just recently added the issue template, so I gave an hour or so before I started enforcing it. I'm wasting a ton of time troubleshooting individual issues instead of adding improvements and actually fixing real bugs, so this is an attempt to streamline some.

If you checked the Alarm output and didn't see the name of the Pokemon (when it rejects a Pokemon it'll always say why) t

[2016-08-09 23:33] kvangent commented on #70
Yes, its on the todo list.

[2016-08-09 23:38] theresthatguy opened #71 "[ENHANCEMENT] Add postal codes to <addr>"
Currently, `<addr>` will display something like 3141 Pi St. When notifications are coming from a large area it would be nice to know where said street is by including the postal code; after the change `<addr>` would display above example as 3141 Pi St. 59265. If nearest address cannot be obtained, use the postal code instead of saying "None".

tl;dr
`"notify_text":"A wild <pkmn> has appeared near

[2016-08-09 23:43] martinsweitzer commented on #62
@theresthatguy the failure was from pokemongo.     -wh http://localhost    is slow   -wh http://127.0.0.1 is fast

[2016-08-09 23:43] #62 closed

[2016-08-10 00:13] waltwhitman6969 commented on #69
No problem man. My apologies. I will try to gather some more info for ya and use the template next time. Appreciate all you're doing man. This project is perfect.

[2016-08-10 00:43] jameson167 commented on #61
Thank you so much KVangent, could you message me your email again so I could send that tip over. I was getting errors earlier when attempting to.

[2016-08-10 00:52] kvangent commented on #61
@jameson167 A few others have asked so I put a button up in the readme. Don't feel obligated - I do this as a hobby.

[2016-08-10 00:58] RiberoD07 commented on #71
could also have it so that it says how far away from you in metres it is? That way no need to click on the link if it's too far

[2016-08-10 00:59] kvangent commented on #71
@RiberoD07 This is already a feature.

[2016-08-10 01:01] RiberoD07 commented on #59
Don't think it's offtopic necessarily so asking here. Is there a way to have it update location by itself? or what's the easiest way. I have it set up for twilio atm and want it to message me of nearby pokemon everywhere I go not just the location I originally set on my map. If i set the map up to scan follows location and just open it once on my phone does it follow? Not entirely sure as to the b

[2016-08-10 01:06] RiberoD07 commented on #71
@kvangent ah didn't know since i never passed -l thanks!

[2016-08-10 01:19] jameson167 commented on #61
Sent. Appreciate it man. Keep up the good work

[2016-08-10 01:52] theresthatguy commented on #71
@RiberoD07, also don't hijack threads please.

[2016-08-10 02:08] remcotroost commented on #56
@kvangent I'll give it a try tomorrow. Will report back.

[2016-08-10 02:58] alexccs opened #72 "[ENHANCEMENT]Mini Maps for Telegram Channel"
Currently, PokeAlarm will post a gmap link in the alert.  By providing mini maps utilizing the telegram sendlocation feature, it will be more convenience for users as they can access the map directly in telegram without waiting for google maps to open externally, or even no need to open the map as they can easily recognize if a location is too far from the mini map.

Tried to add the feature by my

[2016-08-10 03:24] jameson167 opened #73 "[USER] Exception in thread pkmn when trying to Notify"
It's Me Again! Thanks for all the help earlier. I have now moved my entire configuration over to an Amazon AWS Box + Proxy setup. I have gotten all the maps API working and the PokeAlarm is close to functioning now. The server is a Windows Server 2012 box which might be causing the issues.

When I start the

My Maps command is the same as earlier trailing with the
`-wh http://127.0.0.1:4000`

My P

[2016-08-10 03:43] fgnn opened #74 "[ENHANCEMENT] Google Maps walking distance calculation"
By using the google map api to get directions from your location to the pokemons location, you can get an accurate walking distance and time. While at work, I can see at a glance whether I can walk to the pokemon in time or not without having to open the link.

The code in the fork works and I've been using it for a few days. Unfortunately I am a subversion guy and don't understand git at all. Som

[2016-08-10 03:49] fgnn commented on #74
<walk/dont walk>[<walking distance in meters><compass direction><watch emoji><walking time in minutes>]

![screenshot_2016-08-09-21-44-53](https://cloud.githubusercontent.com/assets/12035623/17541266/ee225970-5e7a-11e6-95a5-068d850c1dc3.png)

[2016-08-10 04:02] jameson167 commented on #73
I used Postman to manually post a Bulbasaur per your instructions earlier.

It produced the same error as so:

[code]

![image](https://cloud.githubusercontent.com/assets/20566412/17541457/7699a634-5e74-11e6-8b81-d245548cc7ea.png)

[2016-08-10 04:25] jameson167 commented on #73
I compared the debug on my working home PC setup vs the Server and the difference is that there is no new HTTPS connection to slack.com being intiated and no POST /api/chat.postMessage"

Here is the log from a test notification sent by Postman on the working home PC:
![image](https://cloud.githubusercontent.com/assets/20566412/17541791/cfd6311a-5e77-11e6-8ce6-9d1530efe4c0.png)
(This one successful

[2016-08-10 04:55] jameson167 commented on #73
I also set up Telegram to see if it was a SLACK specific issue but netted the same exact results. Telegram works on my home PC, but when I try the same configuration on the Windows Server the notification process triggers but it hangs at this point:

![image](https://cloud.githubusercontent.com/assets/20566412/17542257/e2744286-5e7b-11e6-9736-507bd5d641ce.png)

[2016-08-10 07:04] Malouff commented on #59
Can we have duplicate Pokémon in alarms.json or more than one alarms.json?

Why I would use this:
During the day I would use True as I don't care about distance and use one channel.

At Night I would want just a limited Distance close to home so I don't have to drive across town, But still have a True for a Rare Pokémon I wouldn't mind racing across town for.

If I am using myself I can just stop

[2016-08-10 09:09] Bart274 opened #76 "[ENHANCEMENT] Self destruct Telegram messages"
## Feature Description
Telegram allows you to self destruct your messages. It would be great if you could self destruct the messages from PokeAlarm when the pokemon should have dissapeared.

[2016-08-10 09:10] Bart274 commented on #72
That would be a nice enhancement! :)

[2016-08-10 09:22] DeastinY opened #77 "[ENHANCEMENT] Add a License :)!"
The project does not yet have a license :wink:
I'd suggest adding something like GPL or MIT :+1:

[2016-08-10 12:00] kvangent commented on #73
@jameson167 Are you using the most recent pull? Your issue is different than before.

[2016-08-10 13:32] lota7 opened #78 "[ENHANCEMENT] Skype support"
## Enhancement Description
Request to add Skype support, to report to a specific group which the skype user is invited to.

## Use cases

Skype is used by alot of people, and has well documented API for implementation.

##Other Links

Skype4Py  -- https://github.com/Skype4Py/Skype4Py

[2016-08-10 14:05] smoothlystable opened #79 "[Enhancement] Join"
## Enhancement Description

Add support for Join (by joaoapps)
## Use cases

This would open up for Join users.
Join is a "Pushbullet alternative". But got plenty of support for other joaoapps (AutoApps), which gives you really good Tasker integration.
## Other Links

[Info](http://joaoapps.com/join/)
[API](http://joaoapps.com/join/api/)

[2016-08-10 15:19] jameson167 commented on #73
Yes everything is updated. The difference is this is running on a Windows 2012 Server hosted on Amazon EC2. Perhaps there is some kind of security protocol or Inbound/Outbound Rule needed?

[2016-08-10 15:21] RiberoD07 commented on #71
@theresthatguy i'm sorry for hijacking your thread not sure what you mean by the return None but i just made a PR so that <addr> also shows the postal code and not just the housenumber and streetname
#80

[2016-08-10 16:49] kvangent commented on #64
Services will now try to reconnect via commit 700c8c6f49e3106fa263d71fa09c36688837a38f. Long disconnects (over 30 secs) may cause Pokemon to be dropped.

[2016-08-10 16:49] #64 closed

[2016-08-10 16:57] roflinger opened #81 "can´t open pokemap while this script is running"
Method Not Allowed

The method is not allowed for the requested URL.

[2016-08-10 16:58] kvangent commented on #81
@roflinger Please use the issue template.

[2016-08-10 16:58] #81 closed

[2016-08-10 17:05] roflinger commented on #81
my bad, didn´t know that i need to use webhook on an different port than the normal server

maybe it helps anybody :)

[2016-08-10 17:54] kvangent commented on #72
@alexccs @Bart274 Added in commit 39ed900199ad0dc11d5eec1d11a66ac034ffcbab. Can be disabled by including send_map set to False.

[2016-08-10 17:54] #72 closed

[2016-08-10 18:03] kvangent commented on #76
Looks like this feature isn't avaible from the API. If you can find it, link it here and I'll reopen the ticket.

[2016-08-10 18:03] #76 closed

[2016-08-10 18:08] jameson167 commented on #74
Wow this is incredible, would love to see it integrated

[2016-08-10 18:11] jameson167 commented on #73
I'm back in the Discord chat if you have any free time to PM me. Think it's some small permissions issue.
https://discord.gg/dKTSHZC user: Jameson167

[2016-08-10 19:12] #73 closed

[2016-08-10 20:11] jameson167 opened #82 "[BUG] After Slack Icon Update No More Notifications"
Thanks for the help this morning. Everything was working fine and when I saw your message about the Slack Icon fix I decided to do a git pull and upgrade the files. After doing the git pull upgrade and turning the alarm back on, it no longer posts to Slack anymore.

I made no other configuration changes just 1 pull and re-start service
![image](https://cloud.githubusercontent.com/assets/20566412/1

[2016-08-10 20:43] Teelve opened #83 "[ENHANCEMENT] Facebook Messenger Support :)"
Is it even possible ? I would like to automaticaly share pokemons locations through a facebook messenger conversation

[2016-08-10 22:51] brettgus commented on #59
@Malouff Yeah, I would like multiples as well.

I am doing this right now.  I'm running several different alarm processes.  I'm having a php script redirect the webhook to multiple instances of PokeAlarm:
`<?php
function runhook ($url,$data) {
	$headers[] ='Host: 10.1.22.10';
	$headers[] = 'Connection: keep-alive';
	$headers[] =  'Accept-Encoding: gzip, deflate';
	$headers[] =  'Accept: */*';
	$he

[2016-08-10 22:56] remcotroost commented on #56
Update:
updated to latest PokemonGo-Map dev build. Everything works.

Closing the issue. Thank you

[2016-08-10 22:56] #56 closed

[2016-08-10 23:15] lota7 opened #85 "[Advanced Enhancement] Area of Notification"
## Feature Description

Add possibility of limiting area of notifications.
For example I have scanners setup on alot of places for friends, but I only want notifications on the area close to myself.
Could make it by drawing a user defined area from position top left to bottom right, as to draw a square.

Further implementation of the idea would be to have each of these set to notify on a different

[2016-08-11 00:05] aronjanosch opened #86 "Jelastic ProtocolError gaierror (-3 ..."
Hi,

I run pokealarm on jelastic with a dockerimage.

It works quite some Time but then the run.log file returns

08-10 23:36:07,508 [     alarm_manager] [   INFO] Abra notication was triggered!
2016-08-10 23:36:07,509 [    connectionpool] [   INFO] Resetting dropped connection: api.telegram.org
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/threa

[2016-08-11 00:13] aronjanosch commented on #86
Now it doesn't start anymore

 00:10:46,663 [    connectionpool] [   INFO] Starting new HTTPS connection (1): api.telegram.org
Traceback (most recent call last):
  File "./runwebhook.py", line 51, in <module>
    alarm_thread = Alarm_Manager(data_queue)
  File "/usr/src/app/alarms/alarm_manager.py", line 38, in __init__
    self.alarms.append(Telegram_Alarm(alarm))
  File "/usr/src/app/alarms/tele

[2016-08-11 00:18] aronjanosch commented on #86
New error After restarting again

Sry for Spamming but i want to provide aus much als i can :)

2016-08-11 00:14:41,249 [     alarm_manager] [   INFO] Alarm not activated: pushbullet because value not set to "True"
2016-08-11 00:14:41,250 [     alarm_manager] [   INFO] Alarm not activated: slack because value not set to "True"
2016-08-11 00:14:41,250 [     alarm_manager] [   INFO] Alarm not activa

[2016-08-11 01:23] kvangent commented on #86
@aronjanosch In the future, please make sure to use the given Issue templates.

It looks like your first issue was a connection drop - If you update to the newest version PokeAlarm will try to handle these better.

The second issue looks like you have a socket already bound - it's possible that you have another program using the port or that your crash from before didn't close the socket. Try rest

[2016-08-11 01:23] #86 closed

[2016-08-11 01:30] kvangent commented on #85
@lota7 There is already a feature to limit the range of Pokemon to a certain distance. Please take a look at the Pokemon Configuration part of the Wiki.

If you want to run 3 different areas, you can run multiple Alarms each with their own configuration.

[2016-08-11 01:30] #85 closed

[2016-08-11 01:33] kvangent commented on #83
@Teelve In the future, please make sure you use the given issue template.

I am currently looking at other services to add. Facebook Messenger is on that list.

[2016-08-11 01:35] kvangent commented on #82
@jameson167 In the future, please make sure you are using the issue templates so I can have an easier time diagnosing your problem.

[2016-08-11 01:35] #82 closed

[2016-08-11 01:37] kvangent commented on #79
@smoothlystable In the future please use the Issue Templates provided.

I'm looking into different services to add - I will take a look at Join.

[2016-08-11 01:39] kvangent commented on #78
@lota7 In the future, please stick to one of the issue templates.

I will look into Skype being added in the future.

[2016-08-11 01:46] kvangent commented on #77
Thanks for the reminder - I've added the GNU GPL license.

[2016-08-11 01:46] #77 closed

[2016-08-11 01:47] kvangent commented on #74
@fgnn If you could provide me the snippet of the code you used, I will look into this.

[2016-08-11 02:09] kvangent commented on #71
`<postal>` has been added to the dynamic text substitution options. Check out the Wiki page for Alarms Configuration and your preferred service for more details.

[2016-08-11 02:09] #71 closed

[2016-08-11 07:34] lota7 commented on #78
@kvangent Sorry mate! I've updated it now. Thanks for your work!

[2016-08-11 07:58] theresthatguy opened #88 "[ENHANCEMENT] Command Line Arguement: Skip pokemon with time left less than X seconds remaining"
Wiki Example:
'-stl', '--skip_time_left' - Do not alert for Pokemon with less X seconds remaining. Default is 60.

Use Case Examples
Default:
`python runwebhook.py -stl`
Custom:
`python runwebhook.py -stl 90`

[2016-08-11 08:00] Bart274 commented on #72
@kvangent it works great :D
would it be possible to remove the google maps url from the message when the mini map is enabled?

[2016-08-11 11:24] aronjanosch opened #89 "[BUG] Pokealarm runs into an error when using telegram (Jelastic Docker)"
## Problem Description
Using Jelastic. If i run PokeAlarm with Telegram it runs into an error:
File "/usr/local/lib/python2.7/site-packages/gevent/threadpool.py", line 207, in _worker
value = func(args, **kwargs)
ProtocolError: ('Connection aborted.', gaierror(-3, 'Try again'))

After switching to Pushbullet the App runs stable

## Your Environment
Operating System:  Jelastic Dockerfile (https://h

[2016-08-11 11:55] kvangent commented on #72
@Bart274 You can certainly do that by customizing the url field. Checkout the the Alarms Config and Telegram pages in the wiki for more information.

[2016-08-11 11:55] #88 closed

[2016-08-11 12:07] kvangent commented on #89
@aronjanosch Your error appears to be an issue trying to resolve the telegram host-name. I'm am not familier with jelastic, but it is either an issue with your docker setup or with jelastic itself.

[2016-08-11 12:20] brettgus opened #90 "[BUG] PokeAlarm occassionally dies when using PushBullet"
## Problem Description

## Your Environment

Operating System:  Ubuntu 16.04
Python Version: (use `python -V`)  2.7.12
PokemonGo-Map startup command: `<cmd>`
PokeAlarm startup command: `<cmd>` nohup python runwebhook.py -H 0.0.0.0 -P 6701

Did the issue persist after restarting the script?: yes/no  No, issue is intermittent

##Console Output

[code]

## Your Alarms Config

[code]

##Troubleshootin

[2016-08-11 12:24] kvangent commented on #90
@brettgus From the look of it Pushbullet is throwing some errors in the response. This could be because of some connectivity problems.  Have you updated your PokeAlarm copy in the last day? I added some basic error handling that should catch errors and attempt to reconnect. I don't seem to see an indication that this version is trying that.

[2016-08-11 12:32] aronjanosch commented on #89
i could try to use another service.
i just kinda kopied the official dockerfile from PokemonGo-Map and added s2sphere==0.2.4 to the requirements.txt and then used the automated build from hub.docker.com

[2016-08-11 12:37] GareRam opened #91 "[Enhancement]Auth for webhook"
## Enhancement Description
(Basic) Possibilities to have some sort of authentication for webhooks.

## Use cases
I'm running a mapserver with mySQL database, various other computers are scanning for pokemon and upserting them in the database over the internet, making for one big map of our city (this spreads cpu load and prevents bans). I could enable webhooks and open the associated port in my ro

[2016-08-11 13:03] kvangent commented on #89
There is a PR for docker file right now. You could try that and let me know how it works. https://github.com/kvangent/PokeAlarm/pull/84

[2016-08-11 13:05] kvangent commented on #91
@GareRam This would require a change to PokemonGO-Map as well.

[2016-08-11 13:24] aronjanosch commented on #89
yea saw that and thats nearly the same dockerfile i use, except mine also contains the argument -h

I run the docker images in 2 seperate enviroments and everything works perfectly fine with pushbullet. It running right now without errors

[code]

# My Dockerfile
[code]

# The Dockerfile from the PR

[code]

[2016-08-11 13:44] annessi commented on #89
I had a problem with the -h argument so i removed it.
Anyway I've been using this configuration for about a day and it's working great with telegram.

[2016-08-11 14:38] Bart274 commented on #72
@kvangent thanks for the suggestion, that did the trick indeed :)

[2016-08-11 14:40] aronjanosch commented on #89
do you run your enviroments on jelastic? cause if not then its a problem on their side.

[2016-08-11 14:43] annessi commented on #89
I'm running docker on my synology server.

[2016-08-11 15:22] kvangent commented on #89
@aronjanosch The issue seems to be dns related. Id the programs are running on the same machines try 127.0.0.1 instead of hostname.

[2016-08-11 15:24] hagehg opened #92 "[ENHANCEMENT] Ability to add custom location descriptions"
## Enhancement Description
Implement a way to add custom descriptions for coordinates (lat & long combination).

i.e.:
40.723260, -73.991055, Bus stop
40.718389, -73.994896, Grandma's house

## Use cases

When using &#60;addr> in the notifications, it will give you an approximate address, but the address is often pretty vague and doesn't really help you.

Since Pokemon spawn on fixed locations, it

[2016-08-11 15:25] aronjanosch commented on #89
actually i created 2 enviroments with and i get 2 sperated adresses from jelastic. and i thought dockers are pretty much closed from each other.
but I'll try to do this later and report and i'll setup one enviroment with 2 dockers in it.

[2016-08-11 15:25] kvangent commented on #90
Yeah that is my mistake, I'll update it.

[2016-08-11 15:46] kvangent commented on #89
If you can open up the container and attempt to ping the address, ,it might verify if its a dns issue or not.

You can also try manually adding in a DNS server to google when you build the container.

[2016-08-11 17:09] Malouff opened #93 "[ENHANCEMENT] Slack Wiki"
## Enhancement Description
Update the Slack Wiki's Optional Parameters & Special Pokemon Names

## Use cases
Help Users Create a Slack Config

## Problem Description
Some Optional Parameters are not working as expected.
- [ ] _Slack message formatting not working in custom text_
- [ ] `pkmn_channel` Could be easier to understand
- [ ] How to use `url` parameter, can it be used to see your server m

[2016-08-11 18:24] aronjanosch commented on #89
guess im too noobish to do that. i understand what you are saying but i actually dont know how to do that espacially with jelastic and docker. Im pretty new in da biz :grin:

[2016-08-11 18:25] smoothlystable commented on #79
Sorry about that, I've updated the issue now.

[2016-08-11 18:32] kvangent commented on #89
You can run a docker container interactively with -i -t. But I don't know if containers built from python will allow you to ping, I've only worked with Ubuntu ones.

[2016-08-11 19:32] reme-dy opened #95 "[Enhancement] notify on nearby lured pokemon and distinguish from wild"
[ENHANCEMENT]

## Problem Description

Awesome to see that we can filter out is_lured by the new `-sl` flag.  I'm thinking about running a second instance of your webhook just to detect lured pokemon within a short range of a given distance.  Then I'll get a notification of a wanted pokemon just spawned at a nearby lure.

I'm not sure what the best way is to notify nearby lured pokemon, e.g., 20 m

[2016-08-11 20:27] Samras opened #96 "[BUG]"
## Problem Description

## Your Environment

Operating System:  Debian 8
Python Version: 2.7 (use `python -V`)
PokemonGo-Map startup command: `python runserver.py -ns -l 'XXXX' -st 3 -a ptc -u millions9275769 -p 'lXXXX1' -k XXXX`
PokeAlarm startup command: `python runwebhook.py`

Did the issue persist after restarting the script?: yes

##Console Output

[code]

## Your Alarms Config

[code]

##Tro

[2016-08-11 20:35] jameson167 opened #97 "[BUG] Thread Exception since new PokemonGoMap Update"
They recently updated PokemonGoMap to work with Lured pokestops again. Perhaps there is a change that has broken the PokeAlarm? When starting the alarm it receives plenty of webhook posts but after receiving 1 pokemon it produces this exception error:

[code]

## Your Environment

Operating System:  Windows Server 2012
Python Version: (use `python -V`)  2.1.7

Did the issue persist after restartin

[2016-08-11 20:48] Malouff commented on #96
Looks like you are only using Telegram '"active": "True",'
You however did not supply any arguments for the other required fields.
'"bot_token":"'You Need YOUR_BOT_TOKEN Here '",'
'"chat_id":"'You Need YOUR_CHAT_ID Here '"'

Look at the Telegram Wiki [How to get API Key](https://github.com/kvangent/PokeAlarm/wiki/Telegram#how-to-get-api-key) to get your values to enter there.

[2016-08-11 20:50] Samras commented on #96
Yeah i know. but i deleted them cause its private data. im using it with filled in fields. with chat id and bot token ;)

[2016-08-11 20:51] kvangent commented on #95
You can already limit Pokemon based on their distance - check out the Pokemon Configuration page for more details.

[2016-08-11 20:51] #95 closed

[2016-08-11 20:52] kvangent commented on #97
@jameson167 Could be. I will investigate.

[2016-08-11 20:55] reme-dy commented on #95
I should have been clearer, my request was for lured pokemon only.  Right now the `-sl` flag is all or nothing.  It would be nice to specifically filter lured pokemon on distance.  For example, notify a regular spawned dragonite at 1000m, or a lured dragonite at 20m.

[2016-08-11 21:06] reme-dy opened #98 "[Enhancement] Slack - set topic and first post to pokemon names that will be notified"
## Enhancement Description

It'd be nice if PokeAlarm would set the Slack channel topic to list the pokemon that will be monitored.  The first post when PokeAlarm is activated could also post the pokemon list.

Here's the link to the Slack API SetTopic method:
[https://api.slack.com/methods/channels.setTopic](https://api.slack.com/methods/channels.setTopic)

Thanks!

[2016-08-11 21:08] brettgus commented on #45
Wow just realized config variable is shared by the caller and the thread.  That makes things easy.

FYI, I'm going to try to think of a way to integrate pyicloud and PokeAlarm for automatic location for distance.. or even driving/walking time.

[2016-08-11 21:09] kvangent commented on #45
@brettgus Yeah I tried to make it easy to expand.

I'm going to leave this open so people know it's on my radar.

[2016-08-11 21:09] kvangent commented on #95
They just changed lured pokemon, so it doesn't look like they can be filtered at all right now.

[2016-08-11 21:12] reme-dy commented on #95
Gotcha, thanks for being on top of this!  Looking forward to the next set of updates.

[2016-08-11 21:15] kvangent commented on #96
Same as #97 (but his title is more clear).

Working on a fix.

[2016-08-11 21:15] #96 closed

[2016-08-11 21:15] brettgus commented on #68
FYI, not sure if this was clear but this is what I was trying to communicate in #37

[2016-08-11 21:18] Lionir opened #99 "[Enhancement] Support for Different notifications for different users."
Example, I have 2locations far away from each that I've set up for me and a friend, he would receive the notifications for his location and i'd receive those for mine.

I think this could be done if the user sends their location to the service then the service (based on user configs) would only show the notifications which are xKm/miles from the user.

[2016-08-11 21:20] #99 closed

[2016-08-11 21:45] kvangent commented on #97
Last commit should handle this issue.

[2016-08-11 21:45] #97 closed

[2016-08-11 21:46] kvangent commented on #96
@Samras Could you pull the latest update and tell me if you still have problems?

[2016-08-11 22:10] brettgus commented on #74
Yeah this would be awesome!  It looks like @fgnn cited his commits... maybe I'm blind but I don't see the changes there?

The [DistanceMatrix Googlemaps API](https://developers.google.com/maps/documentation/distance-matrix/intro#DistanceMatrixRequests) is what we should use.  However, while in the docs they say an API key is a required paremeter, it doesn't actually appear to be.

It'd be a bit of

[2016-08-11 22:21] kvangent commented on #93
@Malouff Are you interested in becoming a contributer and managing issues and wiki pages for me?

[2016-08-11 23:23] brunoflce opened #100 "[TELEGRAM] Error when running webhook.py"
When running the alarm for telegram i get this errors:
`2016-08-11 20:18:32,649 [    telegram_alarm] [   INFO] Telegram Alarm intialized
2016-08-11 20:18:32,651 [    connectionpool] [   INFO] Starting new HTTPS connection (1): api.telegram.org
Traceback (most recent call last):
  File "runwebhook.py", line 55, in <module>
    alarm_thread = Alarm_Manager(data_queue)
  File "/home/bruno/PokemonGo-M

[2016-08-11 23:36] ninthwalker commented on #70
Just saw your twitter push and wanted to say thanks. Works for me after I manually added the section to alarm.json. Nice to have twitter back!

[2016-08-11 23:48] FiveWord opened #101 "Nothing shows up [BUG]"
## Problem Description
Everything goes as it should and I get the starting message in telegram but I can see on my map that things I set to true are spawning but I'm not getting anything. Not even any messages in the cmd prompt about it finding anything, whether or not its set to false or true

## Your Environment

Operating System:  win10
Python Version: (use `python -V`)  2.7.12
PokemonGo-Map st

[2016-08-11 23:51] kvangent commented on #101
@FiveWord Thanks for using the proper template.

I think the wh command is `-wh <addr1> <addr2>`. Could you try that and see if it fixes the problem?

[2016-08-11 23:52] #100 closed

[2016-08-11 23:57] FiveWord commented on #101
That fixed it, I feel really stupid right now ~.~
Thanks for the help

[2016-08-11 23:59] kvangent commented on #101
@FiveWord No problem. Please remember to close your issue if it's resolved.

[2016-08-11 23:59] #101 closed

[2016-08-12 02:42] Malouff commented on #93
Thanks for the offer but I don't understand python and it took me a lot of edits to make the issue request and understand how to format with the Markdown Styling

I did look at slack_alarm.py and think I see what would need to change to fix Mr. Mime &  Farfetch'd

`Line 37 args = {
Line 38			'channel': channel.replace(u"\u2642", "M").replace(u"\u2640", "F"),
Line 39			'username': replace(self.user

[2016-08-12 03:04] kvangent commented on #93
@Malouff I actually just pushed a big rework to slack. Farfetche'd comes out to farfetched and Mr. Mime is mrmime.

[2016-08-12 03:34] kvangent opened #102 "[HELP WANTED] Looking for Wiki Curator/Issue Manager"
Title says it all. I'm looking for a volunteer willing to help me keep the Wiki up-to-date and issues tidy and marked correctly. I would prefer to be able to spend more of my limited free time working on the project itself, but I don't want to leave anyone having issues out in the cold. I just need someone to keep things organized so I spend more time on improving the project.

## Suggested Requir

[2016-08-12 12:54] GareRam commented on #91
I solved my issue by running your code on all the local machines as well, and pushing to the various API's (Slack/Twitter).

[2016-08-12 12:55] #91 closed

[2016-08-12 16:07] xioxxio opened #103 "Script Error"
Error message when running script

## Your Environment

Operating System:  Windows7
Python Version: (use `python -V`)
PokemonGo-Map startup command: `<cmd>`
PokeAlarm startup command: `<cmd>`

Did the issue persist after restarting the script?: yes

## Console Output

[code]

## Your Alarms Config

[code]

## Troubleshooting Checklist
[x ] Most recent version of PokemonGo-Map
[x ] Most recent vers

[2016-08-12 16:45] fgnn commented on #74
That's exactly how I implemented it.

I looked at my fork again and it looks like I messed up even more than I thought and the code didn't get uploaded at all.

Tonight I will take another stab at attempting to get it uploaded.

[2016-08-12 17:01] rjwestman commented on #70
@ninthwalker where/how did you see it? i'd love to do it that way.

[2016-08-12 17:28] #103 closed

[2016-08-12 17:29] #93 closed

[2016-08-12 17:31] kvangent commented on #70
@rjwestman It was commit db947b7c41411c8b1c6f2e7a027ad726ab5b83ad. There is an example in the defaults but I haven't gotten around to making a wiki page yet.

[2016-08-12 17:31] #70 closed

[2016-08-12 17:35] kvangent commented on #90
@brettgus Are you still having any issues with this?

[2016-08-12 17:36] kvangent commented on #89
@aronjanosch did you get this problem figured out?

[2016-08-12 17:55] rjwestman commented on #70
saw it and made it work! thanks a lot.

[2016-08-12 17:56] cabman2650 opened #104 "[ENHANCMENT]"
## Problem Description

## Your Environment

Operating System:
Python Version: (use `python -V`)
PokemonGo-Map startup command: `<cmd>`
PokeAlarm startup command: `<cmd>`

Did the issue persist after restarting the script?: yes/no

## Console Output

[code]

## Your Alarms Config

[code]

## Troubleshooting Checklist
[ ] Most recent version of PokemonGo-Map
[ ] Most recent version of PokeAlarm
[ ]

[2016-08-12 17:57] #104 closed

[2016-08-12 17:58] cabman2650 opened #105 "[ENHANCMENT"
Would be great if it could notify if one account/worker throws an error :)

[2016-08-12 18:01] brettgus commented on #105
This would require a change in PokemonGo-Map, since PokeAlarm is getting all of its notifications via webhooks sent by PokemonGo-Map

[2016-08-12 18:02] #105 closed

[2016-08-12 18:04] brettgus commented on #90
Seems to be working

[2016-08-12 18:04] #90 closed

[2016-08-12 18:04] kvangent commented on #90
Great, thank you.

[2016-08-12 18:55] Samras opened #106 "[BUG] Exception in thread Thread-1"
## Problem Description

## Your Environment

Operating System:  Debian 8.4 Jessie
Python Version: Python 2.7.12
PokemonGo-Map startup command: `python runserver.py -ns -l '51.5189246068, 7.46500957478' -st 3 -a ptc -u XXXXX -p 'XXXXX' -k CENSORED -wh http://127.0.0.1:4000`
PokeAlarm startup command: `python runwebhook.py`

Did the issue persist after restarting the script?: yes

## Console Output

[2016-08-12 19:00] kvangent commented on #106
@Samras Sorry about that. Try to do a new pull and the problem should be fixed.

[2016-08-12 19:11] Samras commented on #106
@kvangent
now getting another error:
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/home/poke/PokeAlarm/alarms/alarm_manager.py", line 72, in run
    self.trigger_pkmn(data['message'])
  File "/home/poke/PokeAlarm/alarms/alarm_manager.py", line 88, in trigger_pkmn
    log.info(name +

[2016-08-12 19:17] kvangent commented on #106
@Samras That's weird, I wasn't getting that error but I can see why it would.. Try to pull again and see what happens.

[2016-08-12 19:36] ravishivt opened #107 "[BUG] Regression: "channel_not_found" for Slack private channels"
## Problem Description

17b6818 broke slack private channels.  Private channel used to work prior to this commit.  When using private channels now, runwebhook.py gives `channel_not_found`.  According to https://api.slack.com/methods, we need to use "groups" to list and open private channels.

## Your Environment

Operating System:  Ubuntu 16.04
Python Version: 2.7.11
PokemonGo-Map startup command:

[2016-08-12 19:44] kvangent commented on #107
@ravishivt What is the name of this channel you are trying to access?

[2016-08-12 19:47] kvangent commented on #107
@ravishivt Can you run in debug mode (`--debug`) and let me know what it says about finding a channel?

[2016-08-12 19:48] #106 closed

[2016-08-12 19:55] ravishivt commented on #107
Sure, output pasted below.  The private channel name is "porygon".

[code]

![image](https://cloud.githubusercontent.com/assets/4229409/17635392/ecd9ab8c-608b-11e6-9bd0-3fc6f09e6093.png)

[2016-08-12 20:38] kvangent commented on #107
@ravishivt Try the latest commit and see if that takes care of it for you.

[2016-08-12 20:47] theresthatguy commented on #102
I will make no promises but I am willing to help. I'm native english speaker, been wanting to learn some markdown, linux mint is my daily OS, not to familiar with git commands other than clone, did something basic python programming years ago (to which i can provide links if desired).

[2016-08-12 22:40] ravishivt commented on #107
Works great, thanks!

[2016-08-12 22:40] #107 closed

[2016-08-12 22:59] DyonR opened #108 "[ENHANCEMENT] Quiet hours to prevent messages overnight"
Add an option for 'quiet hours'.

Most people only use PokeAlarm when they are awake, so sending messages overnight causes a lot of non relevant messages to appear on whatever-platform-you-use when you wake up.
I think it is nice if we could have an option like 'Only send messages between 7:00 and 23:00'.

[2016-08-13 00:20] theresthatguy commented on #108
You didn't mention what system you're pushing the notifications to. Concerning Slack, it has "Do Not Disturb" functionality that each user can customize as well as custom notifications settings per channel.

[2016-08-13 00:40] DyonR commented on #108
I am using Telegram myself, I know that it is possible to mute a chat, but
it would be nice if PokeAlarms could do it.

Op 13 aug. 2016 02:20 schreef "theresthatguy" <notifications@github.com>:

[2016-08-13 00:42] kvangent commented on #108
You could just shut the server off at night as well.

[2016-08-13 00:51] DyonR commented on #108
True, but automation is nicer than doing it manually.
It was just a quick thought that I had :)

Op 13 aug. 2016 02:42 schreef "Kurtis Van Gent" <notifications@github.com>:

[2016-08-13 04:38] Kyriten opened #111 "[ENHANCEMENT] Add Telegram Bot Commands"
## Enhancement Description

Telegram bots allow commands given through the chat interface. It would be incredible to be able to configure PokeAlarm on the go through commands. Possible commands could include:

* /start - Start receiving notifications
* /stop - Stop notifications
* /add [pokemon]... - Adds Pokémon to the watchlist (space or comma separated list)
* /remove [pokemon]... - Removes Pok

[2016-08-13 06:09] fgnn commented on #74
Finally figured out how to use git!

Pull request located here:

https://github.com/kvangent/PokeAlarm/pull/112

[2016-08-13 08:39] roflinger opened #114 "close"
peace - works

[2016-08-13 08:42] #114 closed

[2016-08-13 14:13] Teelve opened #115 "[ENHANCEMENT] Auto delete Tweet after the pokemon disappeared"
To prevent too much spam on the wall

PS : I'm sorry, i don't know how to put the Enhancement label...

[2016-08-13 17:10] kevdotcom opened #116 "[Enhancement] Ability not to send Pokemon below a duration of x minutes."
This would be great in a scenario where you scan a big area for multiple people, because the chat wouldn't get spammed with Pokemon nobody can get. (below 5 minutes)

[2016-08-13 18:27] roflinger opened #118 "[BUG] Push Bullet Pro needed?"
## Problem Description
crashes at start
## Your Environment

Operating System:  Win 10 64 bit Pro
Python Version: Python 2.7.12
PokemonGo-Map startup command: - crashes before
PokeAlarm startup command: python runwebhook.py

Did the issue persist after restarting the script?: yes

## Console Output

[code]

## Troubleshooting Checklist
[ ] Most recent version of PokemonGo-Map
[ ] Most recent versi

[2016-08-13 18:43] roflinger commented on #118
ok reached max 500 api calls ...

[2016-08-13 18:43] #118 closed

[2016-08-13 22:23] brettgus commented on #108
@DyonR there are probably other tools you could use to do this rather than making it part of PokeAlarm (and add to feature bloat).  Kill the process at a scheduled time, start it up at another time.. just a thought.

[2016-08-13 22:25] DyonR commented on #108
Sure, I will write a script in bash to do it.

Op 14 aug. 2016 00:23 schreef "brettgus" <notifications@github.com>:

[2016-08-14 05:59] Viper2k4 opened #119 "[ENHANCEMENT] better translation"
## Enhancement Description
Actual the only possible translation are the Pokemon-Names. What u think about adding Messages to the Localization file?

Somthing like this:

[code]

## Use cases

Better feeling :)

[2016-08-14 08:08] phr34k0 commented on #39
Discord please :3 maybe refer to https://github.com/Devsome/pkGo-Discord

[2016-08-14 08:20] theresthatguy opened #120 "[WIKI] Twitter Keys/Tokens Instructions"
**Warning:** Do to the recent changes requiring Pushbullet Pro for API usage, Pushbullet support may not be continued in the future.
## Example Config
[code]

### Required Parameters

| Parameters     | Description                            |
| -------------- |----------------------------------------|
| type           | must be `twitter`                      |
| active         |`True` for alarm t

[2016-08-14 09:13] roflinger commented on #120
u don´t need a pushbullet pro account, just create a new one ;) it has a 400 api call limit / month in the non pro version

[2016-08-14 09:52] roflinger commented on #108
not tested, should work.. only the loop may have a problem

`@echo off
color 0b
cls
echo ###########################
echo.
echo     When to shutdown
echo.
echo ###########################
set /p shutdown=
cls

echo ###########################
echo.
echo            When to start
echo        Format: hh:mm
echo ###########################
set /p start=
cls

echo Shutdown on %shutdown%
echo Startup on

[2016-08-14 14:02] kvangent commented on #120
@theresthatguy Thank you for this.

[2016-08-14 14:02] #120 closed

[2016-08-14 14:03] kvangent commented on #119
You can already do custom messages in whatever language you want.

[2016-08-14 14:03] #119 closed

[2016-08-14 14:33] Viper2k4 commented on #119
And on what point?

[2016-08-14 15:44] theresthatguy commented on #120
Like I said, I make no promises but I am willing to help

[2016-08-14 20:32] Viper2k4 commented on #119
ok found it (in the code^^). But a small info in the file,wiki or doku would be cool ^^

[2016-08-14 20:34] cheezy64 commented on #116
I think the `--skip-lured` argument would solve the majority of this for you, since I'm pretty sure all of them are < 3min

[2016-08-14 20:59] kvangent commented on #116
--Skip-lured no longer works because of changes to the api from niantic

[2016-08-14 21:00] kvangent commented on #119
There is info in the wiki, it's under Alarms Configuration and every service has the listed fields.

[2016-08-15 05:33] theresthatguy commented on #116
I think seconds would be better than minutes. I wouldn't mind seeing a 3 minute timer but not, say 90 seconds or less.

[2016-08-15 12:30] kevdotcom commented on #116
It's not about the lured Pokemon, but my scan seems to have some hiccups every now and then and goes slow, resulting in sometimes finding Pokemon with only 5 minutes or less left.

[2016-08-15 15:33] guaycuru commented on #45
I too would like this feature. My use case: I'm developing a Telegram Bot (already wrote too much code before realizing https://github.com/algoni/PogoBot-Telegram existed), so I'd like to change the pokémon list that triggers the alarm via an API.

[2016-08-15 15:37] brettgus commented on #45
Created a pull request for basic location changing #117

[2016-08-16 15:25] lota7 commented on #78
@kvangent Hi, love this alarm, but if you could get Skype support it'd be great! Please do skype! :D

[2016-08-16 16:34] moggd opened #122 "socket address error"
## Problem Description
Socket address error on fresh installation of PokeAlarm + PokemonGoMap

## Your Environment
Operating System:  Windows 7
Python Version: (use `python -V`)  2.7

## Console Output

[code]

## Troubleshooting Checklist
[X ] Most recent version of PokemonGo-Map
[X ] Most recent version of PokeAlarm
[ X] Checked the Wiki page for service in question

[2016-08-16 18:49] brettgus commented on #122
Looks like something else is using port 4000... are you sure you're not already running it?

If not, try running it on another port.  Does that work?

[2016-08-16 18:51] brettgus commented on #111
Are you talking about more than one user being able to have a different watchlist?

[2016-08-16 18:52] brettgus commented on #108
Also, just a thought, I have do not disturb turned on on my iPhone from 1:30am to 6am so nothing (except callers I make exceptions for) will cause any notifications.  Another possible solution.

[2016-08-16 18:54] brettgus commented on #102
I could help sporadically if needed.  Have some programming background, but minimal python interaction (but have been able to learn enough to submit some PRs).  Have linux background, just learning git.  Familiar with markdown.

[2016-08-16 18:55] kvangent commented on #108
To be honest, this is something that is going to be way far down on my list. Simply because if you prefer to not get messages, you can just shut the server off and start it back up when you are ready to receive again.

I'm not saying its something I'm not going to ever do, it's just a very low priority at the moment.

[2016-08-16 18:56] kvangent commented on #111
Something I'm interested in doing, but there are a few issues related to how it would work. Would it control all the other alarms as well? Would just JUST effect telegram notifications?

Again, not something I'm going to be against but might be a while before I find a solution that I am happy with.

[2016-08-16 18:57] kvangent commented on #122
As @brettgus said, it looks like you have something already run on port 4000. Since you left you part of the form, I don't know for sure if its the map or not.

[2016-08-16 18:57] #122 closed

[2016-08-16 19:02] kvangent commented on #102
@theresthatguy @brettgus Sorry it's taken me so long to get back to you guys. If you could both join this [discord channel] (https://discord.gg/QRgZa), I am going to try to coordinate things from there.

[2016-08-16 19:02] #102 closed

[2016-08-16 19:04] #115 closed

[2016-08-16 19:05] kvangent commented on #92
@hagehg This probably won't happen soon, it's a little bit of a logistical nightmare. I'm interested in looking in to it.

[2016-08-16 19:07] kvangent commented on #83
I've look into Facebook Messenger, and they have a very vigorous screening method for getting access to BOT API keys. Because of this Facebook Messenger will probably not happen unless someone can present me with an easier way to do it.

[2016-08-16 19:07] #83 closed

[2016-08-16 19:08] #89 closed

[2016-08-16 19:13] Teelve commented on #115
Why did you close it ... ? is that impossible to do ?

[2016-08-16 19:19] kvangent commented on #115
Didn't use issue template.

[2016-08-16 19:26] Teelve opened #123 "[ENHANCEMENT] Auto delete Tweet after the pokemon disappeared"
## Enhancement Description

Auto delete tweet after the pokemon expire
## Use cases

To prevent spam on the twitter wall, and improve readability
## Other Links

[2016-08-17 00:39] Kyriten commented on #111
@brettgus it could be used for more than one user if implemented that way, but I was just thinking it would be useful for a single user.

@kvangent I don't think it would be able to control other alarms, as the functionality is part of the Telegram Bot API specifically...unless you had the Telegram Bot save to a variable accessible to the other alarms (but that might cause more problems then it's

[2016-08-17 01:15] Albert62 opened #124 "[ENHANCEMENT] Telegram: Multiple Chats"
## Enhacement Description
Being able to use multiple chat id's..

## Troubleshooting Checklist
[x] Most recent version of PokemonGo-Map
[x] Most recent version of PokeAlarm
[x] Checked the Wiki page for service in question

[2016-08-17 16:21] kvangent commented on #124
You can use multiple chat ids. Just make multiple alarms, each with a different chat id.

[2016-08-17 16:21] #124 closed

[2016-08-17 16:24] #68 closed

[2016-08-17 18:38] Jericon opened #125 "[ENHANCEMENT] Add ability to notify on certain rarity levels"
## Enhancement Description
The PokemonGo-Map displays a rarity of each pokemon.  It also has the ability to notify based on rarity.  It would be nice if we could set a rarity: Notify for Ultra Rare only, for example

## Use cases
Notifying a specific rarity without having to configure each pokemon as on or off.

## Other Links

[2016-08-17 20:24] kvangent commented on #125
The problem with this is rarity is very situational and varies person to person. The current structure, while perhaps a tad bit more work, is much more clear.

[2016-08-17 20:24] #125 closed

[2016-08-17 20:37] reme-dy opened #126 "[Enhancement] Add lure notifications for nearby pokestops"
## Enhancement Description

New [commit ](https://github.com/PokemonGoMap/PokemonGo-Map/commit/51fd3c0cfb48975e6e4cf40f9ed5c8dda4832d43)from PokemonGo-Maps enables pokestop information:

[code]
Would be great if we could be notified of nearby lures within a certain range and when they'll expire
## Use cases

Notification of nearby lures ("hey, someone placed a module down the block!  It has 20 min

[2016-08-17 20:47] reme-dy commented on #102
I'm willing to lend a hand with the wiki.  Markdown shouldn't be tough ([cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)) and I've seen the requests increase as the popularity of the project has grown in the past few weeks.

[2016-08-17 22:56] kvangent commented on #102
@reme-dy Come talk to me in [discord ](https://discord.gg/hHJW5)sometime.

[2016-08-18 03:49] rrbailey89 opened #128 "[ENHANCEMENT] Frontend Idea"
## Enhancement Description

A nice frontend, preferably one accesible via the browser at either localhost:port or your public ip:port with this frontend you should be able to see statistics, configure alarms on the fly and maybe other things that may come to your mind.
## Use cases

Allow the configuration of alarms on the fly, and see stats .. "x number of notifications sent today"
## Other Links

[2016-08-18 08:51] bilalkamoon commented on #124
@kvangent I don't get how can this be implemented? What do you mean with multiple alarms? multiple alarms.json?

[2016-08-18 13:23] Toetje585 opened #129 "[ENHANCEMENT] Send Pokemon Location and map in the same message (Telegram)."
## Problem Description

It's unlogocal to send te map first and the location after. I would like to see the map in the same message below the location info.

                        try_sending(log, self.connect, "Telegram (loc)", self.client.sendLocation, locargs)

                try_sending(log, self.connect, "Telegram", self.client.sendMessage, args)

## Your Environment

Operating System:  Ub

[2016-08-18 14:03] Albert62 commented on #124
@bilalkamoon actually you can, it was an error on my end. I was missing one bracket which broke everything.
1. Go to 'alarms.json'
2. Now recreate a new alarm using telegram and a different chat id.
Don't forget to add the new bracket, that was my mistake it should look like this
`
		{
			"active": "True",
			"type":"telegram",
			"bot_token":"TELEGRAM_TOKEN",
			"chat_id":"YOUR_CHAT_ID"
		},
`
Yo

[2016-08-18 14:04] Toetje585 commented on #129
I'm not a programmer but would love if someone is able to get this up.

[2016-08-18 14:11] kvangent commented on #124
@bilalkamoon You can configure as many alarms as you want, using any combination of services, just like @Albert62 said.

[2016-08-18 14:12] kvangent commented on #129
The reason it is sent in two messages is because it's using Telegrams [sendLocation ](https://core.telegram.org/bots/api#sendlocation)from the API, which doesn't allow for additional text.

[2016-08-18 15:08] rrbailey89 opened #130 "Enhancement: More Clarity For Dynamic Substitutions Please"
## Enhancement Description

Browsing [this page](https://github.com/kvangent/PokeAlarm/wiki/Alarm-Configuration) it is unclear where or how the substitutions should be used.
## Use cases

I believe that clarifying and showing a code example with the substitutions in action would be beneficial to the userbase and new users to come.
## Other Links

[2016-08-18 15:13] kvangent commented on #130
@rrbailey89 We're in the process of trying to make the wiki easier to understand.

[2016-08-18 17:06] rrbailey89 opened #131 "Enhancement: The Ability To Choose High Resolution Icons For Slack Or Other Alarms."
## Enhancement Description

I and Im sure others would like to be able to display the high resolution icons in slack or other alarms. Currently low res icons are displayed.
## Use cases

Prettier, Cleaner Look.

## Other Links

![icons-large-sprite](https://cloud.githubusercontent.com/assets/6540217/17783123/73d6fc72-652b-11e6-8024-70af69ba7574.png)
![icons-shuffle-sprite](https://cloud.githubuser

[2016-08-18 17:39] brettgus commented on #130
@rrbailey89 Made some changes to explain dynamic subsitutions... does that clarify it a bit?

[2016-08-18 17:57] rrbailey89 commented on #130
@brettgus yes it does. Thank you :+1:

[2016-08-18 19:27] #130 closed

[2016-08-18 21:27] kvangent commented on #131
@rrbailey89 Part of the problem is that these are sprite-maps, where as we need individual icons for slack. If you can find a nice set of higher res icons (I think they have to be .png too, but I can't remember right now) I'll be glad to switch them out.

[2016-08-18 22:27] rrbailey89 commented on #131
@kvangent Maybe this will help :) let me know.

[Large Icons](https://drive.google.com/open?id=0B9v70D_-W9usYWZHVmVURWJvdjg)

[Shuffle Icons](https://drive.google.com/open?id=0B9v70D_-W9usVGZuU3ZBbUhOVGc)

[2016-08-18 23:54] thatsweater opened #132 "Map screenshot not ALWAYS appearing [slack]"
## Problem Description
When using slack, and using the map:"enabled", the small map does not always appear/upload. Console shows no extra output, map runs fine, all pokemon of this type are enabled, but the map does not ALWAYS go, infact i would say it is about 1 in 10. This is true for both pokemon/alarms that frequently alarm pokemon, and for alarms that do not alarm pokemon very often (<1 minut

[2016-08-18 23:58] reme-dy commented on #132
@kvangent is working on this.  We'll have to add a Google Maps Static Map API to the code so that we can call down the map image.

More about Google Static Maps [here](https://developers.google.com/maps/documentation/static-maps/intro).

If you want to get a head start, head over to the developer console on your google account and enable the API for Static Maps.

[2016-08-18 23:59] thatsweater commented on #132
Thank you so much for the swift reply. Excited to have this feature enabled. Thank you so much!

[2016-08-19 00:02] reme-dy commented on #129
Closing, beyond Telegram's capability.

[2016-08-19 00:09] reme-dy commented on #92
The geopy module does have an option for a more descriptive location thought it will require an additional API key and some time to implement.

Another option would be to use the specific spawnpoint_id from the database.  That would, however, assume that the user has harvested spawnpoints and knows how to identify a specific spawnpoint.

[2016-08-19 00:29] kvangent commented on #132
I'm going to leave this open until I get this problem solved.

[2016-08-19 01:52] mgoodsell91 commented on #132
I just downloaded the latest version and there is no reference to the map in my config file. Is this something I have to add manually?

[2016-08-19 03:06] thatsweater commented on #132
Check the wiki under Slack setup.

Sent from my iPhone

[2016-08-19 06:27] theresthatguy commented on #131
Attached zip are pokemon PNG files with size of 128x128 px. I got them as emojis for slack group.

[pokepng.zip](https://github.com/kvangent/PokeAlarm/files/426432/pokepng.zip)

[2016-08-19 09:05] ObviousLeeGitHub commented on #126
that would be awesome :+1:

[2016-08-19 13:10] elvquant opened #133 "Push-Notification like Prowl and NotifyMyAndroid?"
Have made a directly integration: https://github.com/PokemonGoMap/PokemonGo-Map/issues/836

[2016-08-19 13:15] #133 closed

[2016-08-19 13:18] elvquant commented on #133
Prowl-Api https://www.prowlapp.com/api.php
NmA-Api http://www.notifymyandroid.com/api.jsp

[2016-08-19 13:24] elvquant commented on #133
No interest for PokeAlert?

[2016-08-19 13:39] kvangent commented on #133
You didn't follow the issue template.

[2016-08-19 17:40] elvquant commented on #133
Ok!

[2016-08-19 18:19] bbbenji opened #134 "[WIKI] Error in new mini map config"
Is
[code]

Should be
[code]

Notice the addition of 2 `,` at the end of lines 4 and 6

[2016-08-19 18:22] kvangent commented on #134
Good catch. I'll update accordingly.

[2016-08-19 18:27] kvangent commented on #129
I think we can actually do this, but it going to take a while.

[2016-08-19 18:36] #134 closed

[2016-08-19 19:33] kvangent commented on #131
Updated as of commit  bee10541fe69cf77e094d60c6539c5806c6f32ed.

[2016-08-19 19:33] #131 closed

[2016-08-19 21:15] rrbailey89 opened #135 "Exception in thread Thread-1 When Using Geofence"
## Problem Description

## Your Environment

Operating System:  Windows 10
Python Version: (use `python -V`)  Python 2.7.12
PokemonGo-Map startup command: `python runserver.py -os -l "33.2241637, -117.3823953"`
PokeAlarm startup command: `python runwebhook.py`

Did the issue persist after restarting the script?: yes

## Console Output

[code]
Also see the attached logs. It seems that posts continu

[2016-08-19 21:35] Atitoa commented on #135
Changing line 33 in geofence.py from
self.polygon = Polygon(points) to self.polygon = Polygon(*points)
fixed it for me

[2016-08-20 14:10] rrbailey89 commented on #135
@Atitoa thanks that fixed it for m

[2016-08-20 14:53] kvangent commented on #135
@rrbailey89 I've pushed this change so you shouldn't have to worry about it manually. It is interesting that it works fine for me (and others), but not for all cases? Especially since your python is up to date. I don't know if you are getting an older version of sympy or perhaps I am.

Also as a air warning, the new geofence implementation seems to be quite slow .I noticed a 2 second delay in proc

[2016-08-20 14:53] #135 closed

[2016-08-20 15:55] DreamingEmma opened #137 "[ENHANCEMENT] Choose Pokemon to notify by rarity"
## Enhancement Description

PokemonGo-Map's notification feature includes rarity lists (Common, Uncommon, Rare, Super Rare, Ultra Rare) and the ability to notify based on them. PokeAlarm should allow for notifications by rarity, possibly using a command line argument that modifies the pokemon list in alarms.json accordingly. (This method would still a user to modify her notification preferences on

[2016-08-20 16:06] rrbailey89 commented on #132
I dont know about others but im getting a map with each notification now.

[2016-08-20 16:15] reme-dy commented on #137
Hi @DreamingEmma,

We're recently received a similar request.  Please see [#125](https://github.com/kvangent/PokeAlarm/issues/125).

The current `alarm.json` allows for very fine tuning of notifications.  Kabutos and omanytes are very rare in NYC but a dime a dozen on cali beaches. :)  Perhaps we can add quickstart `alarm.json` files to the wiki based on perceived rarity (things like dragonites, s

[2016-08-20 16:15] #137 closed

[2016-08-20 17:18] rrbailey89 commented on #135
@kvangent thank you :+1:

[2016-08-20 19:19] intelunlimited opened #139 "Error starting PokeAlarm - Telepot, Only Slack configured"
## Problem Description
I got a problem when starting PokeAlarm. I only have slack configured in the alarms.json file. Please find the error below.

## Your Environment
Operating System:  Debian 8.5
Python Version: (use `python -V`)  Python 2.7.9
PokemonGo-Map startup command: `python runserver.py`
PokeAlarm startup command: `python runwebhook.py -P 9876`

Did the issue persist after restarting the

[2016-08-20 19:21] reme-dy commented on #139
The 4th alarm (Telegram) is set to True.  Change it to False and you should be set.

[2016-08-20 19:25] intelunlimited commented on #139
That was it, I didn't see that sorry. Must have already been activated in the example alarms file. Sorry for the issue.

[2016-08-20 19:27] reme-dy commented on #139
No worries, glad it's working for you.  Let us know if you have any other issues.

[2016-08-20 19:27] #139 closed

[2016-08-20 19:56] thatsweater commented on #132
I re-downloaded and tested, not all working but more seem to.

[2016-08-20 20:44] paulharman commented on #132
yeah seems to be working for me too

On 20 August 2016 at 20:56, thatsweater <notifications@github.com> wrote:

[2016-08-20 21:47] paulharman commented on #132
scrap that, broken again

On 20 August 2016 at 21:44, Paul Harman <paulharman@gmail.com> wrote:

[2016-08-20 23:12] kvangent commented on #132
Yeah, it's based on rate limiting from google. Once I incorporate the google maps key, it will be limited by a personal goal instead of one key for a large chunk of slack.

[2016-08-21 05:37] rrbailey89 commented on #132
@kvangent your not going to allow us to use our own api key?

[2016-08-21 12:45] brettgus commented on #132
@rrbailey89 That's what he was saying.  Once he adds the ability to add your own google maps key

[2016-08-21 12:58] KongGal opened #141 "[BUG] All notifications have less than 3 minutes left when using telegram or twitter services"
## Problem Description
When posting to telegram or twitter it does it so late there is only 2-3 min left on pokemons some times even down to 1 min.

## Your Environment
Operating System:  Debian 8
Python Version: Python 27
PokemonGo-Map startup command: `-l "xx.152592, xx.199914" -H 0.0.0.0 -P 4582 -ss mrmime.json -wh http://xx.xx.xx.xx:6001`
PokeAlarm startup command: `--location "xx.152592, xx.1

[2016-08-21 13:04] reme-dy commented on #141
Do you have the same issues when using Pushbullet or Slack?

What -st and -sd are you using for PokemonGo-Map? Do you see the Pokemon appearing much faster on the PokemonGo-Map live map  (13> minutes)?

[2016-08-21 13:17] KongGal commented on #141
Dooh forgot about the title
I'm using  spawnpoint scan with 6 accounts that covers around 300 spawn points so the bottleneck shouldn't be there
I have tried with -sd 6 and -sd 15 same result on both
on the map they show up with 10-13 min left on
I don't have the options to test with pushbullet or slack

the twitter feed in question where it can be seen is @ https://twitter.com/PokeAarhus

[2016-08-21 13:37] reme-dy commented on #141
Have you tried changing your -wh to 127.0.0.1?

[2016-08-21 14:30] KongGal commented on #141
I have the alarm offsite compared to the map running it but yes i have -wh to the IP running the alarm from the machine running the map with correct port too.

[2016-08-21 16:09] jane0815 opened #142 "[ENHANCEMENT] Send Alert when specified gym changes team."
Would it be possible to add an option for gym alerts?

I'd like to get a notification when my home gym is not blue so i can take it back asap.

[2016-08-21 17:02] #142 closed

[2016-08-21 17:04] jane0815 commented on #142
Does this mean no?

[2016-08-21 17:07] kvangent commented on #141
Are you using multiple instances of PokemonGo-Alarm? Do they all have the webhook specified?

Do you receive in tweets of other pokemon in between the map finding the pokemon and the alert going off?

[2016-08-21 17:10] kvangent commented on #142
It means you didn't use the required issue template.

[2016-08-21 17:21] jane0815 opened #143 "[ENHANCEMENT] Gym Alerts"
## Enhancement Description

Add Option for gym Alerts

## Use cases

Receive an alert when a gym changes team. For example to keep your home or couch gym in your color.

[2016-08-21 17:33] KongGal commented on #141
I am only running 1 Alarm with the WH specified
and i don't get other tweets in betweeen. just take the lastest been on the map for 11 min and the alarm just tweetet it with 1 min left on it :/

[2016-08-21 17:45] kvangent commented on #141
Sorry, I meant to say are you running multiple maps?

So the issue you are experiencing is that the tweets are taking a while to show. For example, a tweet gets posted and says it had 10 minutes left, but really it's only 1-2 minutes?

Are you getting any messages in the console?

[2016-08-21 17:47] kvangent commented on #143
The reason we don't have this feature yet is because PokemonGoMap doesn't send webhooks on gyms at this moment. If they don't add it soon, I'll work on submitting a PR request to them.

[2016-08-21 17:57] KongGal commented on #141
i am running 2 maps 1 with 2 workers and the one with the WH with 7 workers
both running on my local machine and using the remote host as database + alarm
the remote host is hosting 2 web server only for the 2 maps and alarm

the issue is the alarm doesn't get info on enabled pokemons until like 5-10 min after scanned :/

[2016-08-21 18:01] kvangent commented on #141
Is the time remaining on the tweets accurate? or is it not?

[2016-08-21 19:54] KongGal commented on #141
Available until 21:26:56 is correct
(20m 14s). Isn't

[2016-08-21 20:56] anonacct commented on #111
@kvangent if you have any form of beta with this at any point I'd love to test it out.  The ability to change location while in the field would drastically improve the value of location sensitive distance alerts.

[2016-08-21 22:30] rrbailey89 opened #144 "[BUG] Memory Error"
## Problem Description

Just checked on the alarm and saw that it had this error on the screen
## Your Environment

Operating System:  Windows 10
Python Version: (use `python -V`)  2.7
PokemonGo-Map startup command: `python runserver.py`
PokeAlarm startup command: `python runwebhook.py -gf geofence.bak.txt`

Did the issue persist after restarting the script?: no

## Console Output

[code]

[2016-08-22 07:36] sLoPPydrive commented on #129
How? The Telegram API doesn't seem to allow this. Of course one could create an image of an excerpt of the map and post the image together with the text+GMaps Link (like with Slack) but that would make the map rather uncool. The actual location post allows for quickly opening the map on your mobile being able to zoom and pan around and (at least on iOS) start navigation with the app of your choice

[2016-08-22 13:18] Malouff opened #146 "[BUG] 5..png Needs to be named 53.png for Persian"
## Problem Description
Using Slack alarm Number 53 Persian does not have a  bot icon as you have it named 5..png you need to rename that image.

## Console Output
Sorry,  I didn't looked if there was an error here.

## Your Alarms Config
I  don't think it's needed in this case.

## Troubleshooting Checklist
[x] Most recent version of PokemonGo-Map
[x] Most recent version of PokeAlarm
[x] Checked t

[2016-08-22 14:29] brettgus commented on #141
Have you tried running the PokeAlarm on the same host that the PokemonGo-Map is running on?

[2016-08-22 15:34] brettgus commented on #144
So, looking at your command line options, it looks like you aren't using a geofence, is that right?

[2016-08-22 15:50] rrbailey89 commented on #144
@brettgus that is correct. I forgot to put that in my original post. Also my computer has 16GB of RAM if that makes any difference.

[2016-08-22 16:26] kvangent commented on #144
Just to clarify, you are not using a geofence and this happened?

[2016-08-22 16:34] kvangent commented on #141
If you could run the Alarm in debug mode, it will show you when it is handling each request. This may help us determin if it is either a processing issue or a connection issue.

So when you see a pokemon's tweet be late, Look in the console and see if you can find where the alarm processed it.

[2016-08-22 16:35] kvangent commented on #146
@Malouff Thanks for catching this. Should be fixed now.

[2016-08-22 16:35] #146 closed

[2016-08-22 16:36] rrbailey89 commented on #144
@kvangent no. im sorry for the confusion. I was using geofence.

[2016-08-22 16:39] kvangent commented on #78
I looked into Skype but was unable to find a suitable module using Python 2.7 and the API seems to require approval from Microsoft before you can get an API key. If anyone knows of a better way, please let mw know and I'll look into this gain.

[2016-08-22 16:39] #78 closed

[2016-08-22 16:48] kvangent commented on #39
I haven't been able to find a good module for Discord that works with Python 2.7, so for right now Discord is going on the back-burner for now. If you know of one or are willing to get the ground work start on authentication for their REST api please let me know.

[2016-08-22 16:48] #39 closed

[2016-08-22 16:53] kvangent opened #147 "[Mega-thread] New/Upcoming Services"
# In order to consolidate Issues, all matters regarding new or unsupported services should be posted here.

Reset as of 11/04/2017

If you would like to see a new service, please make a post below with a link to the API of the service you wish to use.

**Under Investigation**

**In Progress**

**Completed**

**Not in Progress**

[2016-08-22 16:54] phr34k0 commented on #39
@kvangent Is cool. I've already coded my own using https://github.com/ImDevinC/pkgo-discord/blob/master/discord-server/app.js ..

`npm install discord.js` and slap in a bash script that pgreps pid, if errorlevel and cronevery 2 minutes if process stops works like a charm.

![image](https://cloud.githubusercontent.com/assets/13272249/17863424/2ade1ce0-68cc-11e6-9367-9962069bfff5.png)

[2016-08-22 16:55] kvangent commented on #12
Service Requests are now going to be handled under issue #147.

[2016-08-22 16:55] #12 closed

[2016-08-22 16:55] kvangent commented on #18
Service Requests are now going to be handled under issue #147.

[2016-08-22 16:55] #18 closed

[2016-08-22 16:55] kvangent commented on #79
Service Requests are now going to be handled under issue #147.

[2016-08-22 16:55] #79 closed

[2016-08-22 17:02] kvangent opened #148 "[Enhancement] Front End API Megathread"
I plan on adding the ability to update the config while running through a restful API and eventually adding a front end API to make these changes easier. There are a few issues open with questions about this, so I wanted to consolidate them here.

This is fairly low on my priority list, and with the exception of changing location may take a while to happen. I'd prefer to focus on functionality and

[2016-08-22 17:05] kvangent commented on #129
@sLoPPydrive I was just going to introduce a static map like is included in Slack at the moment. Using the web app for telegram, this is virtually the same. Are you tellling me the mobile app makes more use of this then just adding the link to the image?

[2016-08-22 17:05] kvangent commented on #128
Consolidating to #148.

[2016-08-22 17:05] #128 closed

[2016-08-22 17:06] kvangent commented on #111
Consolidating to #148.

[2016-08-22 17:06] #111 closed

[2016-08-22 17:07] kvangent commented on #45
Consolidating to #148.

[2016-08-22 17:07] #45 closed

[2016-08-22 17:08] kvangent commented on #59
Consolidating to #148.

[2016-08-22 17:08] #59 closed

[2016-08-22 17:09] kvangent commented on #108
I'm going to close this issue because I have no plans to implement it any time soon. If someone wishes to do it and submit a PR that is good with me.

[2016-08-22 17:09] #108 closed

[2016-08-22 17:11] kvangent commented on #92
(I think) the best way to do this would be to specify a Latitude, Longitude, and a distance and anything within that distance from it would be pinned as that area. That being said I don't feel this is an overly useful feature and don't plan to incorporate it any time soon. If anyone wants to do it and submit a PR that is good with me.

[2016-08-22 17:11] #92 closed

[2016-08-22 17:38] lota7 commented on #78
@kvangent Didnt it work with Skype4Py -- https://github.com/Skype4Py/Skype4Py ? That should be a good module

[2016-08-22 18:11] jnovack commented on #143
PR#666 does.  Plan for it to be merged.

[2016-08-22 18:33] kvangent commented on #143
@jnovack The same is true for both Pokemon and Pokestops.

[2016-08-22 18:43] kvangent commented on #144
Seems to be an issue with Sympy. I am going to (eventually) look into alternatives since Sympy seems to be very slow.

In the last commit I attempt to clear the cache - this may fix the problem.

Also, you may reduce the number of coordinates in your geofence might also speed it up.

Let me know if you still have issues.

[2016-08-22 20:47] KongGal commented on #141
Best way to use debug mode? console is spammed with pokestop notifications not yet implimented and no logging to file :/

[2016-08-22 20:52] kvangent commented on #141
You can always redirct to a file by piping it into a file. `runwebhook.py >> log.txt`

[2016-08-22 20:54] KongGal commented on #141
I tried

| tee log.txt

But none of it get saved :/

[2016-08-22 21:06] kvangent commented on #141
Try using two `>>`

[2016-08-22 21:07] KongGal commented on #141
Already tried with 2 >>

[2016-08-22 21:15] kvangent commented on #141
try  `> log.txt 2>&1`

[2016-08-22 21:17] KongGal commented on #141
didn't work either but i just disabled pokestops and gyms from the map and that did it :)

[2016-08-22 21:19] #141 closed

[2016-08-22 21:20] KongGal commented on #141
it stopped the pokestop spam with debug, not sure with time. it seems like it post anywhere from 1-3 min to 10 min when SS scanning with 7 accounts which seems a bit weird

[2016-08-22 21:29] kvangent commented on #141
You can also try `--webhook-updates-only` to PokemonGo-Map.

[2016-08-22 22:24] KongGal commented on #141
--webhook-updates-only seems to do the trick!

[2016-08-22 22:25] KongGal commented on #141
Fast question anyway to disable the pokealert start tweet?

[2016-08-22 22:29] KongGal commented on #147
Maybe IRC? its old but still used by a lot and should be easy to work with

[2016-08-23 00:31] rrbailey89 opened #150 "Geofence Broken Again?"
## Problem Description

Using Geofence Almost everything seems to be outside of the geofence. I have recreated my geofence to try and make sure I didnt miss anything. I was not having this issue prior to todays updates. I even enabled everything to ensure it wasnt just 1 or 2 spawnpoints it wasnt picking up.

## Your Environment

Operating System:  Windows 10
Python Version: (use `python -V`)  Pyt

[2016-08-23 02:10] pozimonte commented on #132
For anyone wanting a quick fix before kvangent gets an official one out, you can edit your setup_map function in slack_alarm.py to look as below. Make sure to enable Static Maps API in your Google API Manager console and replace YOUR_API_KEY with your actual key.

(added gkey and query_key to hold your Google API key, then added the key to the url in self.map)

[code]

[2016-08-23 04:36] HusbandoMax commented on #132
@pozimonte putting that code in replace of the original i just giving me console errors

[2016-08-23 12:43] kvangent commented on #150
I accidentally inverted the Geofence. Last commit should fix it.

[2016-08-23 20:16] rrbailey89 commented on #150
Thanks that fixed it up :)

[2016-08-23 20:16] #150 closed

[2016-08-23 20:23] rrbailey89 commented on #132
@pozimonte so you wouldnt add `gkey` to alarms.json you would just insert it there?

[2016-08-23 21:31] pozimonte commented on #132
Nope, nothing added in alarms.json. Those three lines were the only ones added or changed in the entirety of PokeAlarm. What program did you use to edit the file, Notepad++? It may be an indention error from copy/paste. You could try simply adding the API key to the URL and delete the gkey and query_key lines, that'll have the same effect.

[code]

[2016-08-23 22:01] rrbailey89 commented on #132
I figured it out. @pozimonte it was an indentation error haha. I got it fixed thanks :+1:

[2016-08-24 05:36] TackyBrad opened #152 "Trouble Running Multiple Webhooks"
## Problem Description

I am attempting to run multiple alarms. I admit to having no expertise. Basically, I am trying to have two twitter outputs, one to TWITTER1 that is for my personal notifications, things that I am missing. The other TWITTER2, I want to send out many more notifications for the whole community. For example, for my personal alarm, I would not want to be notified of a Ninetales,

[2016-08-24 06:16] brettgus commented on #152
So, the problem with what you're trying to do is that PokemonGo-Map only (as far as I know) supports sending one webhook per process.  You are trying to have it send two webhooks.

You could handle this by starting different PokemonGo-Map processes with different webhooks, but it doesn't sound like that's what you're trying to do.

What I've done for my personal setup is have a separate php script

[2016-08-24 06:20] TackyBrad commented on #152
Thanks for adding the labels and giving it the proper title. You are correct in your assessment. I cannot code and can only use limited intelligence in doing assorted things without breaking stuff. Is what you have implemented something I could implement?

My aim is to help the community, but I do not want as many notifications personally as they want. So, yes, I would need a way split the webhook

[2016-08-24 09:52] gkuiper commented on #144
Originally I was also planning to use a different library for my geofence pull request #127 , Shapely. However, that library does require additional dependencies under linux / mac (libgeos).

[2016-08-24 13:27] kvangent commented on #144
@gkuiper Yeah I looked at the same one before settling on doing it myself. Given how slow Sympy is, I may have to redo it manually again.

[2016-08-24 13:27] #144 closed

[2016-08-24 14:24] kvangent commented on #152
PokemonGo-Map allows multiple webhooks. It used to be the format `-wh <WEBHOOK1> -wh <WEBHOOK2>`, but someone on reddit was having trouble with this, so they may have changed it to `-wh <WEBHOOK1> <WEBHOOK2>`. If you prefer to modify it in config.ini, it might be `[<WEBHOOK1>,<WEBHOOK2>].

[2016-08-24 14:36] brettgus commented on #152
@kvangent So it does!  Glad to know this

[2016-08-24 14:48] brettgus commented on #152
And yeah, @TackyBrad it looks like [the current format](https://github.com/PokemonGoMap/PokemonGo-Map/wiki/Command-Line-Arguments)  for the command line is `-wh <webhook1> <webhhook2>` as @kvangent was saying.

[2016-08-24 15:46] kvangent commented on #132
As of the last commit, you can now specify your own google API key.

[2016-08-24 15:46] #132 closed

[2016-08-24 15:51] TackyBrad commented on #152
Thank you for the replies. One last question, will I need to run the Webhooks as

-wh 127.0.0.1:4000 127.0.0.2:4001

For it to work? I need to add the port as well, correct? Thank you again.

[2016-08-24 16:22] kvangent commented on #152
`-wh http://127.0.0.1:4000 http://127.0.0.1:4001` - The IP will stay the same, but the port should be different.

[2016-08-24 16:22] #152 closed

[2016-08-24 16:26] kvangent commented on #148
As of commit 564599d8aa8311e738125c11a8f0ea8f75b22634, you can now get and update location.

A get request to `/location/` will return the currently set location and status 200.

A post request `/location/location=<name or lat,lng>` will return the updated location and status 200.

[2016-08-24 16:32] kvangent commented on #129
If anyone who uses the Telegram app could tell me if the mobile app does more then add a static image, please let me know.

[2016-08-24 19:07] Nizzem opened #153 "[BUG] <addr> no longer prints the address in Slack notifications"
## Problem Description
I was able to send the target address in previous versions but with the latest pull `<addr>` doesn't work .

I used to get
`Golduck has appeared at 169 Fake Street. Available until 03:19pm (14m 38s). 310m NW from Home.`

now I get
`Golduck has appeared at <addr>. Available until 03:19pm (14m 38s). 310m NW from Home.`

## Your Environment

Operating System:  Ubuntu Server 16.

[2016-08-24 19:28] TackyBrad commented on #152
Thanks a lot. Two webhooks are now running. I wanted to do a third for another subset of the community, so my cmd line reads:

python runserver.py -l -k -u -p.. etc -wh http:127.0.0.1:4000 http://127.0.0.1:4001 http://127.0.0.1:4002

I get no error messages on the map workers nor the alarm cmd. (alarm command is python runwebhook.py -P 4002), it simply just doesn't populate the alarm. Thoughts? Qu

[2016-08-24 19:38] brettgus commented on #152
I take it that's not the exact command line you're using?  You're missing some slashes in the first webhook.

[2016-08-24 20:05] kvangent commented on #153
`<addr>` is now `<address>`. Previously I wanted to keep them all short, but with this latest version I added alot more options and it no longer seems worth it.. I will be updating the Wiki before long.

[2016-08-24 20:25] kvangent commented on #152
@TackyBrad If you could, post all 3 commands and at least the first few lines for the alarms.

[2016-08-24 20:32] rrbailey89 opened #154 "[BUG] Map screenshot still not always appearing with Slack."
## Problem Description

Some have screenshots and some do not. I have tried `-k` without `"` and without and also with `'` and without and without either of those and still cant figure out why its not working. I have also verified my API key is correct for google. The first three triggers gave a screenshot while the last two did not.

![](http://i.imgur.com/CafqdYQ.png)

## Your Environment

Opera

[2016-08-24 20:51] TackyBrad commented on #152
User error. There was an errant space I noticed once I turned on paragraph markings in word. Thanks again, sorry to bother with a n00b mistake!

[2016-08-24 20:59] Nizzem commented on #153
I tried replacing `<addr>` with `<address>` but it's still not working. Is there anything else I need to do?

[2016-08-24 21:04] kvangent commented on #153
Can you run it in in debug `-d` and post the console output?

[2016-08-24 21:04] kvangent commented on #152
Glad you got it figured out!

[2016-08-24 21:18] sLoPPydrive commented on #129
Sorry, that I answer so late. Yes, the mobile app for iOS does more. The location post is first a small minimap which you can tap:
![thumb_img_1061_1024](https://cloud.githubusercontent.com/assets/3931865/17948398/06f6e0ec-6a51-11e6-8d7c-3cdf2f537bd8.jpg)

If you tap it a full Apple Maps view opens up where you can actually get directions to the location (choosing between several installed navigat

[2016-08-24 21:24] kvangent commented on #129
In that case, I'll leave it alone the way it is.

[2016-08-24 21:24] #129 closed

[2016-08-24 21:36] Nizzem commented on #153
[code]

Have something to do with`[  DEBUG] REV_LOC set to False`?

[2016-08-24 21:39] kvangent commented on #153
Yes it does. Can you confirm that you are at the most recent pull and can you post your alarms.json?

[2016-08-24 22:11] Nizzem commented on #153
Woops! You can close this :(. I had made the change in slack_alarm.py not in alarms.json. It was functioning in previous versions. I've moved the changes to alarms.json and everthing is working now. Please close the issue.

Thank you for the help!

[2016-08-24 22:22] #153 closed

[2016-08-24 22:57] kvangent commented on #74
This should now be implimented as of commit fc60ddc7231c1ce515f2d343022eb33ebf80464d. You can add in the following options

`<walk_time>` or `<walk_dist>`
`<bike_time>` or `<bike_dist>`
`<drive_time>` or `<drive_dist>`

[2016-08-24 22:57] #74 closed

[2016-08-25 05:01] joberembt opened #155 "[BUG] Slack Google Maps url has %27 in them, breaking the map"
## Problem Description

When using slack with the google maps option, the map previews are always out in the middle of the ocean. If I look at the link, it has the url with ' replaced as %27
![chat window](http://i.imgur.com/28jRRby.png)

![url maps](http://i.imgur.com/cSjgnVQ.png)

## Your Environment

Operating System:  Win8.1
Python Version: (use `python -V`)  2.7.10
PokemonGo-Map startup comma

[2016-08-25 11:26] majuss commented on #154
I can confirm this bug! Running the script on a debian VM.

[2016-08-25 11:57] mrbiggmd commented on #155
I can confirm this issue as well on Ubuntu 14.04.  It was working prior to my pull last night.

[2016-08-25 12:28] kvangent commented on #155
It would be great if you could run it in debug and let us see the console output.

[2016-08-25 13:26] joberembt commented on #155
Nothing of any real use in the debug log:

python runwebhook.py -l "41.9xxx -91.7xxx" -d
2016-08-25 08:15:48,790 [             utils] [   INFO] Location found: 41.9xxxxx,-91.7xxxxx
2016-08-25 08:15:48,790 [        runwebhook] [   INFO] Debug mode activated!
2016-08-25 08:15:48,806 [     alarm_manager] [   INFO] You will be notified of the following pokemon:
Bulbasaur, Ivysaur, Charmander, Charmele

[2016-08-25 13:27] joberembt commented on #154
I'm seeing the same thing, in addition to the maps being wrong

[2016-08-25 14:12] kvangent commented on #154
As of commit fd3125ca9ac57626de550f8e9541ba86674a14ef this should be taken care of. If you continue to have issues, let me know.

[2016-08-25 14:12] kvangent commented on #155
Hopefully this issue is corrected as of commit fd3125ca9ac57626de550f8e9541ba86674a14ef.

[2016-08-25 14:12] #155 closed

[2016-08-25 16:02] boadude commented on #66
Got the same error, i put 10 meters and show me pokemons in a big distance away... not working ...

[2016-08-25 16:49] Phantisy commented on #154
I'm still having the issue on Windows 10 and I just updated to the current commit at the time of this post. I've tried with -k and without.

No issue on my Linux server.

[2016-08-25 17:43] kvangent commented on #66
@boadude It's not working as in it doesn't work for you? Or it's not working as in it stopped working?

Please open an issue and stick to the issue template if you haven't figured it out.

[2016-08-25 17:56] kvangent commented on #154
@Phantisy It would be great if you could run in debug mode. It should output the url for each map - if you could post the output and let me know which ones aren't showing up it would help.

[2016-08-25 18:17] #154 closed

[2016-08-25 18:18] rrbailey89 commented on #154
@kvangent so far seems to be working. Thanks for the fix.

[2016-08-25 18:53] boadude opened #157 "[USER] Outdated Python on Rasberry Pi"
## Problem Description

When i config the file `alarms.json` put all configuration of the pokemons in 5 meters... Example:

`"pokemon":{
        "Bulbasaur":"5",
        "Ivysaur":"False",
        "Bisaflor":"5",
        "Charmander":"5",
        "Charmeleon":"5",
        "Charizard":"5",
        "Сквиртл":"5",
        "Wartortle":"5",
        "Blastoise":"WHAT",
}`

But alarms show me all pokemon

[2016-08-25 18:56] kvangent commented on #157
Are you sure that this is the alarms.config you are using? From the looks of it, you are getting notifications for other pokemon that aren't on your list.

[2016-08-25 19:01] boadude commented on #157
I copy just a part... all pokemon of the pokemon list got "5" ... but is all pokemon in that list

[2016-08-25 19:03] kvangent commented on #157
Also from the look of it, you aren't suppling a google maps key. If you don't supply a key, you will need to specify the location with lat/lng. My guess is that right above what you copied from the alarm is a line like this
` [             utils] [  ERROR] No Google Maps API key provided - unable to find location by name.`

[2016-08-25 19:06] boadude commented on #157
I also run the script like this
`python runwebhook.py -k "APIKEY"`

and the same...

[2016-08-25 19:08] kvangent commented on #157
Are you running it `python runwebhook.py -k API_KEY -l "Location"`?

[2016-08-25 19:10] boadude commented on #157
Algo try that:
`python runwebhook.py -k "AIzaSyAxJJgxehLaTwbc2laFWPduxHaKabyVPbc" -l "Sotero Sanz 100"`

But i get masive error:
`
2016-08-25 15:09:42,104 [    connectionpool] [   INFO] Starting new HTTPS connection (1): maps.googleapis.com
Traceback (most recent call last):
  File "runwebhook.py", line 53, in <module>
    config = set_config(os.path.abspath(os.path.dirname(__file__)))
  File "/ho

[2016-08-25 19:17] boadude commented on #157
ok wait...

[2016-08-25 19:20] boadude commented on #157
`Requirement already up-to-date: googlemaps in /usr/local/lib/python2.7/dist-packages
Requirement already up-to-date: requests<=2.10.0 in /usr/local/lib/python2.7/dist-packages (from googlemaps)`

Still the same error

[2016-08-25 19:21] kvangent commented on #157
So from the looks of it you are running an older version of Python that doesn't support the newest googlemaps API. Could you update python to the latest 2.7 version?

[2016-08-25 19:21] boadude commented on #157
know the command to update?

[2016-08-25 19:25] kvangent commented on #157
I'm not 100% sure how to do it on a PI. Think link may work: http://raspberry.io/wiki/how-to-get-python-on-your-raspberrypi/

[2016-08-25 19:43] jtmantis opened #158 "[Bug]Slack address notification return None None."
## Problem Description
The address notifications on Slack sometimes are shown as None None. Sometimes it stays like this for a few hours and then brings back to normal.

Do you think it can be the issue with the slack itself?

## Your Alarms Config

[code]
## A screenshot from Slack

https://i.gyazo.com/4dedf7fcb0f30500ae45502f30eeea57.png

Operating System:  Linux ubuntu
Python Version: 2.7.6
Pok

[2016-08-25 19:45] kvangent commented on #158
It's possible that these locations don't have a suitable address - and so google is coming up empty.

[2016-08-25 19:55] jtmantis commented on #158
If I click the link on Slack it shows me the locations in the map, and that location do have address. Plus those are the same locations that were shown just a few hours ago, and sudenly every single address turned to None None. The same thing happened this morning but then it came back to normal without doing anything.

By the way I'm scanning from -ss .json so those are definatelly the same spawn

[2016-08-25 19:57] kvangent commented on #158
So it's all addresses are coming up with None for a few hours at a time? Have you checked Google Dev Console to see if it you are hitting your limit?

If not please fill out the rest of the issue template so I can get a better idea of whats happening.

[2016-08-25 20:00] brettgus commented on #157
Another option might be to try this running this:
`pip uninstall -y certifi && pip install certifi==2015.04.28`

[2016-08-25 20:00] boadude commented on #157
I will try in a second i am updating python...

[2016-08-25 20:07] boadude commented on #157
@brettgus other error:

googlemaps.exceptions.ApiError: REQUEST_DENIED (This API project is not authorized to use this API. Please ensure this API is activated in the Google Developers Console: https://console.developers.google.com/apis/api/geocoding_backend?project=_)

[2016-08-25 20:09] kvangent commented on #157
Looks like you need to go to the Google Dev Console and enable the Geocoding API for use with your key.

[2016-08-25 20:26] brettgus commented on #158
@jtmantis Yeah, I agree with @kvangent, it looks like you have your alarms have a very high frequency (1-5 per min).  Every time an alarm goes off, there may be multiple requests to google's maps API.  Google limits you to 2500 requests a day, you might be hitting that.

[2016-08-25 20:26] jtmantis commented on #158
I get maximum 500 requests a day. I've just updated the issue template, not sure if it helps.

[2016-08-25 20:28] jtmantis commented on #158
One more thing: I have Alarms set for two cities. They use different API, but the address turn to None None on both almost the same time.

[2016-08-25 20:28] kvangent commented on #158
Can you double check your console API limit and see what it says you are at and what you are at yesterday?

[2016-08-25 20:36] jtmantis commented on #158
Well I don't know if I'm looking at the right place, but here are the screenshots from my dashboard.

https://i.gyazo.com/8545aeb69646299a351847f494723c9c.png

https://i.gyazo.com/a05805c587d18bc4f8df6ba4e10fab15.png

If this is the right place that means I just hit 600 request out of 25000 today. Although I'm not sure about 100 requests per 100 seconds limit. Maybe I could hit the limit on that o

[2016-08-25 20:41] kvangent commented on #158
@jtmantis Are you sure that is the key you are giving to the Alarm? You should see something along the lines of Google Maps Geocoding API, which I dont see on there. For example, mine looks like this:
![image](https://cloud.githubusercontent.com/assets/10712294/17985186/4c3aaa56-6ada-11e6-872f-d4ee82a99f5e.png)

[2016-08-25 20:48] boadude commented on #157
Now is going ok!!! everything OK

[2016-08-25 20:48] #157 closed

[2016-08-25 20:50] jtmantis commented on #158
@kvangent yes I've dubled checked, it's the same API that is used in config.ini So maybe because I don't have Geocoding API enabled is the reason I stopped seeing the address?

[2016-08-25 20:52] kvangent commented on #158
It could be. It is weird that it works sometimes but not all. I would check the output from your Alarms console to make sure you aren't getting an error at the start. But if you enable it, let me know if it solves your problem.

[2016-08-25 21:01] phillipah opened #159 "[ENHANCEMENT] Add ability to configure alarms from Telegram"
## Problem Description

## Your Environment

Operating System:
Python Version: (use `python -V`)
PokemonGo-Map startup command: `<cmd>`
PokeAlarm startup command: `<cmd>`

Did the issue persist after restarting the script?: yes/no

## Console Output

[code]

## Your Alarms Config

[code]

## Troubleshooting Checklist
[ ] Most recent version of PokemonGo-Map
[ ] Most recent version of PokeAlarm
[ ]

[2016-08-25 21:02] kvangent commented on #159
See #148.

[2016-08-25 21:02] #159 closed

[2016-08-25 21:08] jtmantis commented on #158
Unfortunatelly that didn't help. But even before I anabled it, there was a couple notifications that showed the address: https://i.gyazo.com/c4743dab69e35b1a2f4a2bdfa2e35549.png

I'm also checking my API requests for the whole day: https://i.gyazo.com/fb04270410ea634c81fe8972e1316fbd.png

So it seems like it went up in the last few hours but it's still under the limit.

But disabling notifications

[2016-08-25 21:11] kvangent commented on #158
Yes, less pokemon would make less requests per pokemon. My guess is that something funky is going on with your API key, but I'm not positive. It seems weird that it was letting your get requests without being enabled.

[2016-08-25 22:34] brettgus commented on #158
@jtmantis Can you paste the google maps link for one of the ones that shows up "None None".

[2016-08-26 01:24] aczone commented on #124
just wonder if multiple alarms are sent async?

[2016-08-26 04:06] jtmantis commented on #158
@brettgus sure, here is a link: https://www.google.com/maps?q=54.72185698782487,25.286420060321564

@kvangent but according to Wiki Javascrip API and API Web Service are the only ones that needs to be enabled: https://pgm.readthedocs.io/en/develop/basic-install/google-maps.html It doesn't say anything about Geocoding API, so I would assume that is what most people are using and are fine?

[2016-08-26 07:43] Youpit44 opened #160 "Outside range Exception!"
## Problem Description

After [last commit](https://github.com/kvangent/PokeAlarm/commit/ec495c4322aceb9c84be855aa98a716e50bbbd8e), i get an error when a pokemon appears far from my area.
## Your Environment

Operating System:  Linux 4.4.0-28-generic #47-Ubuntu SMP Fri Jun 24 10:09:13 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Python Version: 2.7.12
PokemonGo-Map startup command: `python runserver.py

[2016-08-26 07:54] jtmantis commented on #158
Interesting... it came back to normal exactly the same time when it came back yasterday.

One more thing: I have two saparate Pogo-Map and PokeAlarm clones, 1 for each city tracking and notifications. And I also use two different Google Maps keys with in config.ini But those addresses brake on both servers exactly the same time and comes back to normal at the same time, even though their API keys

[2016-08-26 08:44] sLoPPydrive commented on #160
Just created PR #161 for the fix. :)

[2016-08-26 12:18] brettgus commented on #158
Just looking over this issue again and I realized that you're not specifying the google maps key at the command line, is that right?

[2016-08-26 12:24] jtmantis commented on #158
@brettgus thanks for taking your time to have a look at this issue again. Do you mean the command line in PokeAlarm directory? Suck as:

[code]
Or the one in pogomap folder?

[2016-08-26 12:44] kvangent commented on #160
I actually noticed this, but somehow forgot to commit. My apologies.

[2016-08-26 12:44] #160 closed

[2016-08-26 12:50] brettgus commented on #158
@jtmantis Yes, the command for PokeAlarm.  In the issue description template, you said this is your startup command.  `PokeAlarm startup command: python runwebhook.py`  Is that correct?

[2016-08-26 12:50] kvangent commented on #158
@jtmantis He is refering to the command line in for PokeAlarm. I'm assuming you are and just didn't put it, because otherwise your geocoding wouldn't work at all.

You said you are using multiple keys. Are you sure that you have enabled Geo-coding for both keys? And that you are using the most up to date copy of PokeAlarm?

The fact that they comes back at the same time really makes me think you a

[2016-08-26 13:14] jtmantis commented on #158
Yes that's correct, I haven't used API Key in the command line, forgive me for my stupidity. I don't know how come I haven't thought of that. ```python runwebhook.py``` is the only thing I inserted in the command line. I only have my API Keys set in Pogomap config.ini file, so I'm not sure where PokeAlarm is taking that API Key from.

[2016-08-26 13:24] kvangent commented on #158
@jtmantis Are you sure you are using the most recent version?

[2016-08-26 14:46] kvangent commented on #158
@jtmantis Right. The more recent update allows you to specify your own key.

[2016-08-26 14:46] #158 closed

[2016-08-26 14:48] kvangent commented on #124
@aczone No, they aren't currently.

[2016-08-26 15:28] Phantisy commented on #154
Okay so I am still having the issue with this. I have run it with -k [KEY] and without -k. I get a map screenshot sometimes either way. Running windows 10 with python 2.7.12. Here is my log without running -k. The first one returned a screenshot and the second one did not:

`2016-08-26 11:16:42,957 [        runwebhook] [  DEBUG] POST request received from 192.168.1.3.
2016-08-26 11:16:42,963 [

[2016-08-26 15:33] drewreece opened #164 "[ENHANCEMENT] Reduce Telegram to 1 vibrate/notification per pokemon"
## Problem Description
Telegram alarms sends the map & text as individual messages - this is due to how Telegram handles messages & maps (they are individual items). It causes 2 notifications & 2 vibrations.

## Your Environment
Operating System:  Raspbian Linux, Raspberry Pi
Python Version: Python 2.7.9
Tested with Telegram on iOS

## Your Alarms Config
Telegram is setup, maps are enabled.

## En

[2016-08-26 15:46] brettgus commented on #158
@jtmantis Yeah if we're troubleshooting an issue for you you should really be on the latest commit as we may have already resolved an issue that you're trying to have addressed.

But yeah, it looks like the issue you're having is as we first suspected, API key related.  If an API key isn't specified, google falls back on limiting your IP address.  From seeing your alerts, I'm 99% sure you're going

[2016-08-26 15:56] brettgus commented on #164
Please see this previous issue: https://github.com/kvangent/PokeAlarm/issues/129

[2016-08-26 16:08] brettgus commented on #154
@Phantisy can you open up a separate issue filling in all the fields in the template so we can look into this?

[2016-08-26 16:28] drewreece commented on #164
I have seen that issue and don't understand what point you are trying to make @brettgus?

This stops the double vibrate or double sounds in Telegramwhich cannot be altered via the issue you mention - Telegram needs to use 2 messages & kvangent seems to think that is the best answer.  I have to agree, the map is interactive in telegram & should not be downgraded to a static image.

[2016-08-26 17:28] kvangent commented on #164
@drewreece I get what you are going for. It totally make sense to reduce it to one.

[2016-08-26 17:36] kvangent commented on #164
@drewreece Check out commit 64d4f14619c535a8275f6b48b6f12e400d050f79 and see if that is what you are looking for.

[2016-08-26 19:06] kvangent commented on #116
As of commit 62f5e885cfedd0ef28a6cc36e329c8aaaac173f0, you can now specify the number of seconds you wish to have remaining with `-tl X`, where X is the number of seconds.

[2016-08-26 19:06] #116 closed

[2016-08-26 19:38] drewreece commented on #164
Yes that looks correct I'll pull & retest it soon, thanks kvagent.

[2016-08-26 19:39] tomballgithub commented on #153
I pulled the latest files last night and could no longer get <addr> or <address> or <postal> to work.  I see that in alarm_manager.py these lines used to be in there to interpret those but they are no longer in the current code.  Was that functionality pulled for some reason?

			'addr': "%s %s" % (loc.housenumber, loc.street),
			'postal': "%s" % (loc.postal),

I was able to manually add all the

[2016-08-26 19:40] #164 closed

[2016-08-26 19:41] kvangent commented on #153
As I said above, <addr> is now <address>. It also requires a Google Maps API Key inorder to work.

[2016-08-26 19:45] tomballgithub commented on #153
Understood, I was unable to get any of those to work.  They simply remained < address > or < postal > and were not interpreted.  I will retest with -k API

[2016-08-26 19:51] kvangent commented on #153
@tomballgithub If you still have issues, try the discord channel and we will see what we can do.

[2016-08-26 20:13] tomballgithub commented on #153
Thanks for the help.  I was enable to pull latest build and it started working with a properly enabled google API key.

[2016-08-26 20:44] rubbishfs opened #166 "[Enhancement] Telegram uploading icon or sticker of Pokemon"
[ENHANCEMENT]
allowing Telegram uploading icon or sticker of Pokemon base on the pokemon id.

## Use cases
It would be easy for reading the alarm for the telgram user.

[2016-08-26 20:45] jtmantis commented on #158
Thank you guys for all the response and support. I've updated the to the last git, but looks like <addr> is not supported anymore. Have you removed it? Here is how my line in alarms.json looks like:
[code]
And the result:
https://i.gyazo.com/2cc18b747ff775bdfaf1387d981fa187.png

vs before: https://i.gyazo.com/bcd7ba2fea0f5a70e4a69011d53bd52d.png

[2016-08-26 20:47] kvangent commented on #166
@rubbishfs Please use the appropriate Issue Template.

[2016-08-26 20:47] #166 closed

[2016-08-26 20:49] kvangent commented on #158
Use `<address>`.

[2016-08-26 21:11] jtmantis commented on #158
Now I get an error:
[code]
I've used exactly the same lines as in your wiki just replaced <addr> with <address>
[code]

[2016-08-26 22:24] brettgus commented on #143
Looks like the relevant PR has been merged to the develop branch in PokemonGo-map https://github.com/PokemonGoMap/PokemonGo-Map/pull/666#event-768306639

[2016-08-26 22:39] brettgus commented on #123
A workaround is to use something like this [YoSmudge/twdlt](https://github.com/YoSmudge/twdlt), it's a script to delete tweets.  You could set age to .25, so any tweets older than 15 minutes would be deleted.  Just a thought.

Of course, if this isn't a dedicated twitter account for pokemon location tweets, that'd be a little dangerous.

[2016-08-27 02:42] drewreece commented on #164
Actually that needs to be set to 'True' to avoid the double notification. 'False' still buzzes/ sounds twice.

Sorry, I failed to see that you had reversed the setting, it needs changing unless you intended this behaviour.

[2016-08-27 04:13] kvangent commented on #164
@drewreece Make sense. My brain didn't realize it was 'disable' for whatever reason. Should be good now.

[2016-08-27 09:53] Viper2k4 opened #168 "[Slack] Map is missing complete"
## Problem Description
Slack alarms dont show an map anymore.

## Your Environment
Operating System:
Python Version: v2.7.9
PokemonGo-Map startup command: `python ./runserver.py .....  -wh http://127.0.0.1:4000 --webhook-updates-only`
PokeAlarm startup command: `python ./runwebhook.py --locale "de" --key "TheKey"`

Did the issue persist after restarting the script?: yes

## Console Output
Nothing

[2016-08-27 12:21] jtmantis opened #169 "A misspelled code in Wiki"
Hi,

I've noticed a small typo in Wiki: Mini Map code for slack:

[code]
There is comma missing after api key line
[code]
It's not a big a deal but for someone like me it could hive a headache when you can't understand what is wrong and why it's not working.

[2016-08-27 14:09] nhumber commented on #158
just got this up and going, nice work, same <address> error here for me when specifying -k .

debug shows nothing out of the ordinary on console.

[2016-08-27 19:15] neskk commented on #168
Same here, no error messages appear with -d option enabled, but minimaps fail to be attached/displayed in Slack bot message.

[2016-08-27 21:07] KongGal opened #170 "Option to disable the startup message being sent"
Simply requests a option to disable the startup message

[2016-08-27 21:23] kvangent commented on #169
We're working on making some major changes to the wiki, including fixing minor mistakes like this.

In the future please use the issue template.

[2016-08-27 21:23] #169 closed

[2016-08-27 21:24] kvangent commented on #170
@KongGal This is already a feature.

In the future please use the issue template.

[2016-08-27 21:24] #170 closed

[2016-08-27 21:28] kvangent commented on #168
@Viper2k4 @neskk Have you guys enabled the static map API from google dev console?

[2016-08-27 21:28] #168 closed

[2016-08-27 23:15] neskk commented on #168
You were right, thanks.

[2016-08-28 07:47] aczone opened #172 "[ENHANCEMENT] Reverse geocoding language problem"
[ENHANCEMENT]
## Enhancement Description
Currently, the address of the pokemon alert is returning the default "browser" language.

## Use cases
Just add an argument on alarms/utils.py line 294:
result = config['GMAPS_CLIENT'].reverse_geocode((lat,lng), **language='zh-TW'**)[0]
language code is as follows:
https://developers.google.com/maps/faq?#languagesupport

[2016-08-28 12:48] brettgus commented on #98
There's a 100 character limit on slack topics.  That doesn't allow for many pokemon in the title.  I guess it'd be possible to list poke ids in a shortened format "Monitored pokemon: 1,5,7,8,9,10,11,15,120", although it's still possible that that could go over 100 characters if enough pokemon are monitored.

Another option might be pinning a message?

[2016-08-28 15:33] JasonSchoon opened #173 "[ENHANCEMENT] Slack - ability to send direct message to user"
## Enhancement Description
Support posting to username channels on Slack

## Use cases
I would like to just send myself notifications (by sending to my username channel) on Slack. This should already be supported by the Slack API if the channel name given is by ID, and is the ID of the username channel.

The issue is likely due to the fact that these channels do not show up in the channels.List re

[2016-08-28 16:36] Viper2k4 commented on #168
Nope. But now it works :)
(would a a sweet wiki point^^)

[2016-08-28 16:45] kvangent commented on #168
Yeah, the wiki needs some overhauling. We're working on it.

[2016-08-28 18:32] eugenesoo opened #174 "[USER SPECIFIC] <address> not working correctly for telegram output"
## Problem Description

Utilising `<address>` in the `"title"` or `"body"` under alarms.json prevents telegram bot from sending out a message, with the following error code:

## Your Environment

Operating System:  Debian 7.11 (Wheezy)
Python Version: Python 2.7.12
PokemonGo-Map startup command: `./start.sh` (custom beehive start script)
PokeAlarm startup command: `python runwebhook.py`

Did the i

[2016-08-28 18:40] tylerdola commented on #147
What about WhatsApp like this project? https://github.com/akleemans/pokenotifier-whatsapp

[2016-08-28 22:54] nhumber commented on #172
this does not work with tweets, i think twitter shortens the URL with t.co by default, can anyone think of a work around?

[2016-08-28 23:15] kvangent commented on #172
@nhumber What do you mean it doesn't work? Like it is too long? Or you are getting errors?

[2016-08-28 23:46] kvangent commented on #174
@eugenesoo Can you try the following:

`pip uninstall -y certifi && pip install certifi==2015.04.28`
from http://stackoverflow.com/questions/35087360/how-to-make-googlemaps-python-library-detect-ssl-certificates.

[2016-08-28 23:49] eugenesoo commented on #174
it worked - thank you very much!

[2016-08-28 23:49] #174 closed

[2016-08-29 02:00] mgoodsell91 opened #175 "[USER ISSUE] Issue with adding options to alarms.json"
## Problem Description
I run into an error any time I try to add an option to the alarms.json. Specifically disabling the startup message on slack.

## Your Environment

Operating System:  OSX 10.11
Python Version: 2.7
PokemonGo-Map startup command: python /Users/USER/PokemonGo-Map/runserver.py -os -l 50 50 -H 0.0.0.0 -wh http://127.0.0.1:4000
PokeAlarm startup command: Python runwebhook.py

Did t

[2016-08-29 02:30] kvangent commented on #175
You are missing a comma on line 12.

 Use http://www.jsoneditoronline.org/ to look for JSON formatting issues.

[2016-08-29 02:30] #175 closed

[2016-08-29 02:33] kvangent commented on #126
@ObviousLeeGitHub @reme-dy

If anyone wants to alpha-test this, checkout this [branch](https://github.com/kvangent/PokeAlarm/tree/alert_updates);

The config system has changed slightly, and we'll be updating the wiki shortly. In the meantime, here is an example of what an extended version slack looks like:
[code]

Let me know if anyone has any issues.

[2016-08-29 02:46] mgoodsell91 commented on #175
Thanks for the quick fix, it works. Sorry for the basic questions!

[2016-08-29 03:55] Albert62 commented on #147
I think it would be a great idea to have an App (Android, iOS) so you could receive notifications.

[2016-08-29 07:44] #172 closed

[2016-08-29 08:32] ObviousLeeGitHub commented on #126
I'm running it right now and it seems to work just fine so far :) thanks

[2016-08-29 12:43] kvangent commented on #147
@Albert62 All of these services work on Android and iOS.

[2016-08-29 12:47] kvangent commented on #126
@ObviousLeeGitHub Thanks for the headsup, this should be fixed.

[2016-08-29 14:55] Albert62 commented on #147
@kvangent yeah I know, I've been using Telegram. I was thinking of a standalone app, not using any of this services so you could get the notifications.

[2016-08-29 15:04] jtp10181 opened #176 "[BUG] Telegram wiki shows "header" but it is "title""
## Problem Description

The Wiki shows the wrong parameter to use for changing the message title
https://github.com/kvangent/PokeAlarm/wiki/Telegram

## Your Alarms Config

This works:
[code]

## Troubleshooting Checklist
[X] Most recent version of PokemonGo-Map
[X] Most recent version of PokeAlarm
[X] Checked the Wiki page for service in question

[2016-08-29 15:10] ObviousLeeGitHub commented on #126
@kvangent It was fixed after updating to https://github.com/kvangent/PokeAlarm/commit/084b57c4e585fdae129301b42738650a4565adcf

Thanks again

[2016-08-29 15:12] #176 closed

[2016-08-29 15:16] jtp10181 commented on #176
Sorry did you not want this reported?
I found an issue with the notify sound on telegram on Android also and fixed it. Was going to try and post that also but it takes time to fill in all info for the issue request. Or we can chat on Discord if you want.

[2016-08-29 15:19] kvangent commented on #176
@jtp10181 What issue did you find with the notify sound on telegram?

[2016-08-29 15:30] jtp10181 commented on #176
It is odd, after one of the recent updates I noticed the text on telegram started showing up first then the maps, before maps were on top. I could not find what code change caused this. Then with the most recent fix to only send one notify per alert (by shutting off the notify for the map), it effectively stopped working at all on Android. Was confirmed with two different users with different andr

[2016-08-29 15:36] kvangent commented on #176
@jtp10181 Can you open an issue ticket for that error? I'll look into it after the pokestops/gyms update is complete

[2016-08-29 15:41] nhumber commented on #172
In Twitter currently you get a link with the preview image for google maps. when you click it, the web browser opens not google maps, then you have to click again and select open with google maps, and THEN there is no default location set so you need to select "From"and choose "Your location", before you can get acutual gps navigation.

While the notifications work perfectly, the end result be it

[2016-08-29 15:46] kvangent commented on #172
@nhumber I don't know, but if you open a new issue with the title  `[BUG] Twitter Gmaps Links not directing to google maps` I'll look into if there is anything we can do

[2016-08-29 16:25] mew905 opened #177 "[ENHANCEMENT] Pushbullet SMS API"
## Enhancement Description
Change or add ability to use Pushbullet's SMS API instead of asking users to install their application.

## Use cases
Streamlining user interface to make it as minimal as possible. I rather not ask users to install anything they're unsure of, less end-user troubleshooting means more development time for me.

## Other Links
https://docs.pushbullet.com/#send-sms

Example A

[2016-08-29 20:42] kvangent commented on #143
This is now completed as of commit 9b5368a166bad41c7b0d3a81c5e14f98579d5bb4. If anyone has problems, please open additional issues.

[2016-08-29 20:42] #143 closed

[2016-08-29 20:42] kvangent commented on #126
This is now completed as of commit 9b5368a166bad41c7b0d3a81c5e14f98579d5bb4. If anyone has problems, please open additional issues.

[2016-08-29 20:42] #126 closed

[2016-08-29 22:30] rrbailey89 opened #179 "[BUG] Gym notifications not working with gym-info"
## Problem Description

I beleive that I have followed the wiki updates correctly to specify pokestop and gym notifications. Neither of which appear to follow channel setting options in the `alarms.json`
## Your Environment

Operating System: Windows 10
Python Version: (use `python -V`)  2.7.12
PokemonGo-Map startup command: `python runserver.py`
PokeAlarm startup command: `python runwebhook.py -d

[2016-08-29 23:03] theresthatguy opened #180 "[USER SPECIFIC] ImportError: No module named alarms"
## Problem Description

Upon running start I receive an error about no module named alarms
## Your Environment

Operating System: Linux Mint 18
Python Version: 2.7.12
PokemonGo-Map startup command: `python runserver.py -ss -l "39.0345781281, -94.5882255397" -wh http://127.0.0.1:4000 -nk`
PokeAlarm startup command: `python runwebhook.py`

Did the issue persist after restarting the script?: yes

##

[2016-08-30 00:04] kvangent commented on #179
So your channel for pokestops is `pokestop` - Did you create a channel named pokestop?

[2016-08-30 00:15] rrbailey89 commented on #179
@kvangent I realize this was my issue. In slack the channel was named `pokestops` and in the alarm.json it was `pokestop` .. hence the issue. That has been fixed. But I am still not receiving alarms or errors related to gyms. There is a gym nearby that should have sent multiple alarms already going back and forth from yellow and it has not.

[2016-08-30 00:47] rrbailey89 commented on #179
@kvangent to elaborate when run in debug mode I dont see any mentions at all for gyms but i do see this fromt ime to time.

[code]

[2016-08-30 00:49] kvangent commented on #180
You have used this before?

Can you confirm you are using the most up to date pull and can you check to see if you have an alarms folder?

[2016-08-30 00:50] kvangent commented on #179
@rrbailey89 I saw in discord you have gym-info on. This is probably the cause. I'll look into it.

[2016-08-30 03:15] #179 closed

[2016-08-30 08:08] theresthatguy commented on #180
Did another git clone when I got home and copied the alarms.json and config.ini. Everything working kosher except how the messages are displayed in slack.
![screenshot_20160830-030509](https://cloud.githubusercontent.com/assets/20618895/18081272/fffbf1f8-6e5e-11e6-9a9b-f41ebde3776b.jpg)

[2016-08-30 08:35] #180 closed

[2016-08-30 10:20] majuss opened #181 "[BUG] Getting Slack posts about changed gyms"
## Problem Description
Getting Slack Posts about gyms even if they are all disabled in alarms.json. Interesting thing is, they are getting posted into the #general channel.

## Your Environment
Operating System:  Debian stable
Python Version: 2.7.9
PokeAlarm startup command: runwebhook.py

Did the issue persist after restarting the script?: yes

## Your Alarms Config
[code]
## Troubleshooting Chec

[2016-08-30 11:52] shadi1989 commented on #181
Got the same issue with Telegram/Twitter while they are FALSE in alarms.json

[2016-08-30 12:58] jane0815 opened #182 "[ENHANCEMENT] Filter Gym Alerts"
## Enhancement Description

Filter gym alerts to only receive Alerts for important gyms.

## Use cases

Right now alerts are send for every gym on the map. It would be great if it was possible to specify wich gyms we want to get alerts for.

For example i have a gym in range of my home and i hate to see it has changed colors when i open pokemon go and i don't know for how long. So i like to receiv

[2016-08-30 13:05] kvangent commented on #182
@jane0815 You can already do this - you can limit gyms the same way you limit pokemon. You can provide a distance instead of true/false, or you can place a geofence to limit them.

[2016-08-30 13:06] kvangent commented on #181
@majuss @shadi1989 Should be fixed as of commit 2fdb2fcc6b07339a096b9c24374d8998cddf05be

[2016-08-30 13:06] #181 closed

[2016-08-30 13:09] jane0815 commented on #182
Sounds like this could work for me! Sorry i missed that option. Will try to upgrade and check it out! :)

[2016-08-30 13:38] #182 closed

[2016-08-30 15:36] jane0815 commented on #182
I tryed to setup gym alerts with a distance but it did not work as expected.

I had this in my config:

	"gyms":{
		"To_Valor":"False",
		"To_Mystic":"False",
		"To_Instinct":"False",
		"From_Valor":"False",
		"From_Mystic":"100",
		"From_Instinct":"False"
	},

But i still got Alerts for every gym on the map that changed from blue to something else.

[2016-08-30 15:45] brettgus commented on #182
@jane0815 Are you using the most recent commit?  I believe it's fixed it was fixed in 2fdb2fc.  If you are all up to date and it isn't working please open a new issue and fill out the issue template

[2016-08-30 15:52] jane0815 commented on #182
From https://github.com/kvangent/PokeAlarm
   2fdb2fc..1250d62  master     -> origin/master
Updating 2fdb2fc..1250d62

No. Thanks for you fast reply! Will try if it is fixed now! :)

[2016-08-30 15:55] kvangent commented on #182
@jane0815 Try running in `--debug` mode and post the output. I don't think that update will solve your problem (but I'm often wrong).

[2016-08-30 15:58] jane0815 commented on #182
@kvangent You are right. It did not fix the problem. Will run in debug mode later and post log here.

[2016-08-30 16:01] kvangent commented on #182
@jane0815 Also before I forget, you need to have a location specified via the command line for this to work (and if its not a Lat and Lng, you'll need an API-Key provided as wel)

[2016-08-30 18:24] jane0815 commented on #182
@kvangent It seems to be working fine after i set a location and api key! Only get alerts for the gym at my house. :)

Thank you so much!

[2016-08-30 19:02] kvangent commented on #173
@JasonSchoon I think you said this was solved in discord. If not let me know and I'll reopen.